<div id="pushnxDismissLightbox" class="modal pushnx-lightbox modal-default" data-backdrop="static">
    <div class="modal-content">
        <div class="modal-body pushnx-lightbox">
        </div>
    </div>
</div>
