<div class="page-title promotions">
    <h1 class="page-title-text">{{ isResetPassword ? title_reset : title_forgot }}</h1>
</div>

{% if isResetPassword %}
    {{ include('@component/Main/CantLogin/templates/reset-password.html.twig') }}
{% else %}
    {{ include('@component/Main/CantLogin/templates/forgot-password-username.html.twig') }}
{% endif %}
