<div class="page-title promotions">
    {{ title.value|raw }}
</div>

{% if isResetPassword %}
    {{ include('@component/Main/CantLogin/templates/reset-password.html.twig') }}
{% else %}
    {{ include('@component/Main/CantLogin/templates/forgot-password-username.html.twig') }}
{% endif %}
