<div id="push-notification">
    <div class="title">
        {{#if dismiss}}
        <a href="#" id="pushnxDismissAll" style="color:#fff;">{{dismiss}}</a> - 
        {{/if}}
    {{title}} - custom</div>
    <div class="line"></div>
    <div class="messages messages-pnx">{{messages}}</div>
</div>
