{{{message}}}
<a href="#" id="dismiss-yes" class="text-red btn btn-small btn-yellow btn-lower-case">{{yes}}</a>
<a href="#" id="dismiss-no" class="text-red btn btn-small btn-gray btn-lower-case">{{no}}</a>
