<div class="game-container">
    <div id="game-categories" class="category-tab">
        {# temp #}
        <div class="providers-tab-list" id="providers-tab">
            <ul class="main-game-providers game-providers provider-7">
                    <li class="game-providers-item active">
                        <a href="#xx" class="providers-tab providers-xx active" data-providers-filter-id="xx"
                            data-providers-filter-name="xx">
                            <img src="#" alt="">
                        </a>
                    </li>
                    <li class="game-providers-item game-providers-more">
                        <span class="provider-drawer providers-more"></span>
                        <p class="providers-more-text m-0">
                            More
                            <svg viewBox="0 30 24 44.999">
                                <use xlink:href="#arrow" />
                            </svg>
                        </p>
                        <div class="provider-menu">
                            <h2 class="provider-menu-title m-0">
                                <span class="provider-content-button close-svg">
                                    <svg viewBox="0 0 70.24 70.24" class="provider-content-button-svg close-svg">
                                        <path class="close-svg" d="M39.53 35.12L53 21.17a3.18 3.18 0 0 0-.09-4.49 3.18 3.18 0 0 0-4.49.09l-13.3 13.78-13.26-13.78a3.18 3.18 0 0 0-4.49-.09 3.18 3.18 0 0 0-.08 4.49l13.43 13.95-13.43 14a3.17 3.17 0 1 0 4.57 4.4L35.12 39.7l13.26 13.77a3.18 3.18 0 0 0 4.49.09 3.18 3.18 0 0 0 .13-4.49z" />
                                    </svg>
                                </span>
                            </h2>
                            <ul class="game-providers col-12 mb-10">
                                <li class="game-providers-list col-6 pt-10 active close-drawer">
                                    <a href="#" class="providers-provider-menu providers-xx active close-drawer"
                                        data-providers-filter-id="xxx" data-providers-filter-name="">
                                        <img src="#" alt="" class="close-drawer">
                                        <p class="close-drawer">xxx</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
        </div>
        {# end temp #}
    </div>
    <div id="providers-filter-transfer-container" class="pft-list clearfix"></div>
    <div id="game-container" class="game-tiles clear">
        {% include '@component/Main/Lobby/LiveDealerLobby/templates/loader.html.twig' %}
    </div>
</div>
{{ include('@app/src/Module/GameIntegration/templates/ucl.html.twig') }}
