<div class="game-container">
    <div id="game-categories" class="category-tab">
    </div>
    <div id="search-filter-transfer-container" class="sft-list clearfix"></div>
    <div id="game-container" class="game-tiles clear">
        {% include '@component/Main/Lobby/LiveDealerLobby/templates/loader.html.twig' %}
    </div>
</div>
{{ include('@app/src/Module/GameIntegration/templates/ucl.html.twig') }}
