<div id="games-search-lightbox" class="games-search">
    <div class="games-search-content">
        <div class="games-search-body clearfix">
            <form action="" name="search-form" class="games-search-form">
                <button type="submit" class="games-search-submit">
                    <svg viewBox="0 0 86 86">
                        <path d="M54.67 11.87a30.26 30.26 0 1 0-4.14 46.24l23.33 23.33a5.36 5.36 0 1 0 7.58-7.58L58.11 50.53a30.25 30.25 0 0 0-3.44-38.66zm-6 36.79a21.76 21.76 0 1 1 0-30.78 21.76 21.76 0 0 1-.01 30.78z"/>
                    </svg>
                </button>
                <input placeholder="{{ this.table_games }}" type="search" id="games-search-input" class="games-search-input" autocomplete="off" aria-autocomplete="list" role="combobox" dir="ltr" spellcheck="false" required>
                <button class="close-icon" type="reset"></button>
            </form>
        </div>
    </div>
    <span class="search-blurb" id="blurb-preview"></span>
</div>
<div class="result-container">
    <div class="games-search-result"></div>
</div>
