<div class="page-title">
    <h1 class="page-title-text">{{ node.title.0.value }}</h1>
    <a href="javascript:history.go(-1)" class="page-title-back-button">
        <svg viewBox="0 30 24 44.999">
            <use xlink:href="#arrow" />
        </svg>
    </a>
</div>

<div class="node-basic-page {{ app.product_resolver.getProduct }} {{ node.alias.0.value|trim('/') }}">
    <div class="container">
        {{ node.body.0.value|raw }}
    </div>
</div>
