/vendor/
/core/
/logs/*
/cache/*
!/cache/.gitkeep
!/logs/.gitkeep
node_modules/

# Ignore generated assets
/web/*
!/web/app.php
!/web/en/mobile/*
!/web/index.php
!/web/data.json
!/web/version.json
!/web/.htaccess

# files created by the build process
*.pyc
*.tar.gz
build/deployed/*.jsonl
deploy/*
.scannerwork/
.sonar-cache/
coverage/
pipeline.log


# package cache
.node-cache
.bower-cache
.composer-cache
.yarn-cache
