<div class="game-container clearfix">
    <div id="providers-quick-launcher" class="category-tab"></div>
    <div id="providers-filter-transfer-container" class="pft-list clearfix"></div>
    <div id="game-categories" class="category-page"></div>
    <div class="home-page">
        <div id="lobby-tab-filter" class="pft-list clearfix"></div>
        <div id="lobby-tabs"></div>
        <div id="game-container"></div>
    </div>
</div>
