<div id="profile-verification" class="modal modal-standard profile-verification">
    <div class="modal-content">
        <div class="modal-header">Save Account Changes</div>
        <div class="modal-body">
            <p>Please review list of changes. Changes may require to provide documents for profile verification.</p>
            <table class="table-primary w-100">
                <thead>
                    <tr>
                        <th class="text-center">Current</th>
                        <th class="text-center">New</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <p>Enter your password to save changes to your account</p>
            {{ widget("profile_verify_password") }}
        </div>
        {% include '@app/web/images/svg/closed.svg' ignore missing %}
    </div>

</div>
