<div id="profile-verification" class="modal profile-verification">
    <div class="modal-content">
        <div class="modal-body">
            <h3>Save Account Changes</h3>
            <p>Please review list of changes. Changes may require to provide documents for profile verification.</p>
            <table class="table-primary w-100">
                <thead>
                    <tr>
                        <th class="text-center">Current</th>
                        <th class="text-center">New</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        {% include '@app/web/images/svg/closed.svg' ignore missing %}
    </div>
</div>
