
<div id="pushnxLightbox" class="modal pushnx-lightbox modal-default" data-backdrop="static">
    <div class="modal-content">
        <div id="pushnxMessages" class="modal-body pushnx-lightbox">
        </div>
    </div>
</div>

<!--
<div id="pushnx" class="block">
    <div id="pushnxLightbox">
        <div id="pushnxMessages">
            Message Placeholder
        </div>
    </div>
</div>
-->
