
<div id="pushnxLightbox" class="modal pushnx-lightbox modal-default" data-backdrop="static">
    <div class="modal-content pushnx-lightbox-content">
        <div id="pushnxMessages" class="modal-body pushnx-lightbox">
        </div>
    </div>
</div>
