<div id="pushnxLightbox" class="modal pushnx-lightbox modal-default" data-backdrop="static">
    {% if dismiss_button_label %}
    <a href="#" class="pushnx-lightbox-dismiss-all">{{ dismiss_button_label }}</a>
    {% endif %}
    <div class="modal-content pushnx-lightbox-content">
        <h2 class="pushnx-lightbox-title">{{title}}</h2>
        <svg viewBox="0 0 70.24 70.24"  id="pushnx-close" class="modal-close pushnx-lightbox-title-button">
            <rect class="modal-close"/>
            <path class="modal-close" d="M39.53 35.12L53 21.17a3.18 3.18 0 0 0-.09-4.49 3.18 3.18 0 0 0-4.49.09l-13.3 13.78-13.26-13.78a3.18 3.18 0 0 0-4.49-.09 3.18 3.18 0 0 0-.08 4.49l13.43 13.95-13.43 14a3.17 3.17 0 1 0 4.57 4.4L35.12 39.7l13.26 13.77a3.18 3.18 0 0 0 4.49.09 3.18 3.18 0 0 0 .13-4.49z"/>
        </svg>
        <div id="pushnxMessages" class="modal-body pushnx-lightbox">
        </div>
    </div>
</div>

{{ include('@component/PushNotification/templates/push-notification-dismiss-lightbox.html.twig') }}
