<div id="casino-option-lightbox" class="modal casino-option">
    <h2 class="casino title">{{title}}</h2>
    
    <div class="modal-content casino-option-content">
        <div class="modal-body casino-option-body">
           	<a href="#" data-preferred-casino="casino" class="casino-option {{ preferred == 'casino' ? 'selected' : ''}}">Casino</a>
            <a href="#" data-preferred-casino="casino_gold" class="casino-option {{ preferred == 'casino_gold' ? 'selected' : ''}}">Casino Gold</a>
        </div>
    </div>
</div>
