<div id="casino-option-lightbox" class="modal casino-option">
    <h2 class="casino title">{{title}}</h2>
    
    <div class="modal-content casino-option-content">
        <div class="modal-body casino-option-body">
            
        </div>
    </div>
</div>
