<div id="casino-option-lightbox" class="modal casino-option">
    <h2 class="casino title">{{title}}</h2>
    
    <div class="modal-content casino-option-content">
        <div class="modal-body casino-option-body">
            <input type="radio" name="preferred_casino" value="casino" class="casino-option"/>Casino
            <input type="radio" name="preferred_casino" value="casino_gold" class="casino-option"/>Casino Gold
        </div>
    </div>
</div>
