{{#each topLeadeboardData.marketing_space}}
    {{#if this.published }}
        <a href="{{ this.banner_url }}">
            <picture>
                <source srcset="{{ this.banner_img_landscape }}" media="(min-width: 40em) and (orientation: landscape)">
                <img src="{{ this.banner_img_portrait }}" alt="{{ this.banner_alt }}" class="w-100">
            </picture>
        </a>
        <button class="marketing-space-close-btn">×</button>
    {{/if}}
{{/each}}
