 {% if enableBonusCode %}
    <div class="bonus-code-container">
        {% form_theme formBonusCode '@base/form/standard.html.twig' %}
            {{ form_start(formBonusCode, {'attr': {'class': 'pure-form bonus-code-form'}}) }}
        {{ form_end(formBonusCode) }}
    </div>

    <div class="api-success-message mt-25 mb-20 hidden">
        {{ successMessage|raw }}
    </div>
{% endif %}