<div class="page-title">
    <h1 class="page-title-text" style="font-size: 16px;">Session</h1>
    <a href="{{ url('/') }}" class="page-title-back-button">
        <svg viewbox="0 30 24 44.999">
            <use xlink:href="#arrow"></use>
        </svg>
    </a>
</div>

<div class="download mt-10 mb-10">
    <ul class="app-download clearfix">
        <li class="app-download-list app-download-three">
            <a href="{{ url('session') }}" class="download-casino download-box">
                <span class="app-download-list-text">
                    Session
                </span>
            </a>
        </li>
        <li class="app-download-list app-download-three">
            <a href="{{ url('session/legacy') }}" class="download-casino download-box">
                <span class="app-download-list-text">
                    Session Legacy
                </span>
            </a>
        </li>
    </ul>
</div>

<div class="session-wrapper download mt-10 mb-10">
    <ul class="app-download clearfix">
    </ul>
</div>
