{% if top_menu %}
    <ul class="mobile-menu-button clearfix">
    {% for menu in top_menu %}
        <li><a href="{{ url(menu.uri) }}" target="_blank" class="btn btn-small btn-yellow">{{ menu.title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
