{% if quicklinks %}
<h3 class="mobile-menu-internal-header"><span>Links</span></h3>
<div class="menu-display menu-display-internal">
    <ul class="icon-thumbnail clearfix">
        {% for menu in quicklinks %}
            <li class="icon-thumbnail-item {{ menu.attributes.class }}">
                <a
                href="{{ url(menu.uri) }}"
                class="icon-thumbnail-link {{ menu.attributes.title }}"
                >

                {% include '@app/web/images/svg/quicklinks/'~menu.attributes.class~'.svg' ignore missing %}

                <span class="icon-thumbnail-label">{{ menu.title }}</span>
                </a>
            </li>

        {% endfor %}
        {% if is_login %}
            <li class="icon-thumbnail-item  menu-logout ">
                <a href="#" class="icon-thumbnail-link btn-logout">
                    <svg viewBox="0 0 45.1 57.3">
                        <path d="M37.3.1v10.2h-4.1V7.4l-25.6.2V50l25.7.2v-3.3h4.1v10.4H.2L0 0l37.3.1zM20 15.4l9.5 8.3-17.8-.1v9.5l17.8-.2-9.9 8.1 11 .4L45 28.6 30.4 15.3l-10.4.1z"/>
                    </svg>
                    <span class="icon-thumbnail-label">Logout</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}
