<div id="language-gambilng-restriction" class="clearfix" hidden="hidden">
    <hr>
    <div class="gambling-restriction-container container">
        <div class="gambling-restriction-image">
            {% include '@app/web/images/svg/18yrs-restriction.svg' ignore missing %}
        </div>
        <div class="gambling-restriction-text">
            <span>
                <strong>
                    <a href="http://www.jogadoresanonimos.org.br/" target="_blank">Jogue com responsabilidade.</a>
                </strong>
                O jogo, se não controlado e feito com responsabilidade, pode ser prejudicial. Todas as informações disponíveis na página
                <strong>
                    <a href="https://www.dafabet.com/pt/responsible-gaming" target="_blank">de Jogo Responsável</a>
                </strong>.
            </span>
        </div>
    </div>
</div>
