<div id="game-container">
    <div id="game-categories" class="category-tab clear">
        <nav>
            <ul class="category-tab-list">
                <li class="game-category">
                    <a href="#" class="category-tab-links">
                     {% include '@app/web/images/svg/lobby/search.svg' %}
                    </a>
                </li>
                <li class="game-category">
                    <a href="#" class="category-tab-links active">Featured</a>
                </li>
                <li class="game-category">
                    <a href="#" class="category-tab-links">New Games</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="game-tiles clear">
        <div class="game-listing">
                <div class="game-listing-item size-large first">
                    <span class="game-ribbon">
                         NEW 1
                     </span>
                     {% include '@app/web/images/svg/lobby/star.svg' %}
                     <img class="w-100" src="/images/temp/funky-monkey.jpg" alt="golden ticket">
                </div>

                <div class="game-listing-item size-small">
                    <span class="game-ribbon">
                         NEW 2
                     </span>
                     {% include '@app/web/images/svg/lobby/star.svg' %}
                     <img class="w-100" src="/images/temp/panther-moon.jpg" alt="golden ticket">
                </div>

                <div class="game-listing-item size-small">
                    <span class="game-ribbon">
                         NEW 3
                     </span>
                     {% include '@app/web/images/svg/lobby/star.svg' %}
                     <img class="w-100" src="/images/temp/panther-moon.jpg" alt="golden ticket">
                </div>

            {# 2 #}
                <div class="game-listing-item size-small">
                    <span class="game-ribbon">
                         NEW 4
                     </span>
                     {% include '@app/web/images/svg/lobby/star.svg' %}
                     <img class="w-100" src="/images/temp/panther-moon.jpg" alt="golden ticket">
                </div>

                <div class="game-listing-item size-small">
                    <span class="game-ribbon">
                         NEW 5
                     </span>
                     {% include '@app/web/images/svg/lobby/star.svg' %}
                     <img class="w-100" src="/images/temp/panther-moon.jpg" alt="golden ticket">
                </div>

            {#  #}
                <div class="game-listing-item size-small">
                    <span class="game-ribbon">
                         NEW 6
                     </span>
                     {% include '@app/web/images/svg/lobby/star.svg' %}
                     <img class="w-100" src="/images/temp/panther-moon.jpg" alt="golden ticket">
                </div>

                {# <div class="game-listing-item size-small">
                    <span class="game-ribbon">
                         NEW 7
                     </span>
                     {% include '@app/web/images/svg/lobby/star.svg' %}
                     <img class="w-100" src="/images/temp/panther-moon.jpg" alt="golden ticket">
                </div> #}

                <div class="game-listing-item size-large">
                    <span class="game-ribbon">
                         NEW 8
                     </span>
                     {% include '@app/web/images/svg/lobby/star.svg' %}
                     <img class="w-100" src="/images/temp/funky-monkey.jpg" alt="golden ticket">
                </div>

                <div class="game-listing-item size-small size-large-after">
                    <span class="game-ribbon">
                         NEW 9
                     </span>
                     {% include '@app/web/images/svg/lobby/star.svg' %}
                     <img class="w-100" src="/images/temp/panther-moon.jpg" alt="golden ticket">
                </div>

            {#  #}
                <div class="game-listing-item size-small">
                    <span class="game-ribbon">
                         NEW 10
                     </span>
                     {% include '@app/web/images/svg/lobby/star.svg' %}
                     <img class="w-100" src="/images/temp/panther-moon.jpg" alt="golden ticket">
                </div>

                <div class="game-listing-item size-small">
                    <span class="game-ribbon">
                         NEW 11
                     </span>
                     {% include '@app/web/images/svg/lobby/star.svg' %}
                     <img class="w-100" src="/images/temp/panther-moon.jpg" alt="golden ticket">
                </div>

                <div class="game-listing-item size-small">
                    <span class="game-ribbon">
                         NEW 12
                     </span>
                     {% include '@app/web/images/svg/lobby/star.svg' %}
                     <img class="w-100" src="/images/temp/panther-moon.jpg" alt="golden ticket">
                </div>
        </div>
    </div>
</div>
<span class="hidden">
    {% include '@app/web/images/svg/lobby/filter.svg' ignore missing %}
    {% include '@app/web/images/svg/lobby/search.svg' ignore missing %}
    {% include '@app/web/images/svg/star.svg' ignore missing %}
</span>
