<div class="btn-add-to-home btn-pwa">
    <svg viewBox="0 0 20 20" class="btn-pwa-logo">
        <use xlink:href="#product-generic" />
    </svg>
    <p>
        Add Dafabet to Home screen
    </p>
    {% include '@app/web/images/svg/pwa-closed.svg' %}
</div>
