<div class="btn-pwa hidden">
	<div class="btn-add-to-home">
	    <svg viewBox="0 0 20 20" class="btn-pwa-logo">
	        <use xlink:href="#product-generic" />
	    </svg>
	    <p>
	        Add Dafabet to Home screen
	    </p>
	</div>
	<div class="btn-pwa-close">
		{% include '@app/web/images/svg/pwa-closed.svg' %}
	</div>
</div>
