<div class="exchange-lobby-tile-container">
    <div id="game-container">
        {% include '@component/Main/Lobby/ExchangeLobby/templates/loader.html.twig' %}
    </div>
</div>
{{ include('@app/src/Module/GameIntegration/templates/ucl.html.twig') }}
