<div class="lottery-lobby-tile-container clearfix">
    <div id="game-container">
        {% include '@component/Main/Lobby/LotteryLobby/templates/loader.html.twig' %}
    </div>
</div>
{{ include('@app/src/Module/GameIntegration/templates/ucl.html.twig') }}
