<div class="page-title">
        <h1 class="page-title-text">{{ node.title.0.value }}</h1>
    <a href="#" class="page-title-back-button">
        <svg viewBox="0 0 53.251 99.846">
            <path d="M53.251 91.525l-9.985 8.32L0 49.922 43.101 0l10.15 8.32-36.194 41.602 36.194 41.603z"/>
        </svg>
    </a>
</div>
    <img src="{{ node.field_banner_image.0.url|raw }}" alt="" class="w-100">

<div class="container">
    {{ node.body.0.value|raw }}
</div>