<div id="unsupported-lightbox" class="modal unsupported">
    <div class="modal-content unsupported-content">
        <div class="modal-body">
            
        </div>
        {% include '@app/web/images/svg/closed.svg' ignore missing %}
    </div>
</div>
