<div id="language-lightbox" class="modal language language-lightbox">
    <div class="modal-content language-content" id="language">
    </div>
    {% include '@app/web/images/svg/closed.svg' %}
</div>
{% include '@component/Language/INLanguage/template.html.twig' %}
