// CKEditior Accordion Styles

.ckeditor-accordion {
    .ckeditor-wrapper {
        margin: 0 auto 0.3rem;
    }

    dt {
        position: relative;
        padding: 1.5rem 2rem 1.5rem 4.5rem;
        color: $dark-gray;
        font-size: 2rem;
        font-weight: 600;
        background: $light-gray;
        cursor: pointer;

        .arrow {
            @include triangle(right, 1rem, $dark-red);
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            content: "";
            border-left-width: 1.6rem;
        }

        &.active .arrow {
            top: 1.7rem;
            border-top: 1rem solid #900000;
            border-right: 1rem solid transparent;
            border-left: 1rem solid transparent;
            border-top-width: 1.6rem;
        }
    }

    dd {
        margin: 0 auto;
        color: $dark-gray;
        background: transparent;

        .dd_wrapper {
            width: 100%;
            border: 0;
        }
    }
}
