// Mobile/Table
.account-balance {
    position: absolute;
    top: 0.7rem;
    right: $container-gutter-xs;
    text-align: center;

    a,
    a:hover {
        color: $white;
    }

    &-amount {
        display: block;
        margin-top: 0.3rem;
        font-size: 1.2rem;
    }

    // icon
    svg {
        width: 2.4rem;
        vertical-align: middle;
        fill: $white;
    }

    // loader 
    &-loader {
        width: 1.6rem;
        height: 1.5rem;
        margin-top: 1rem;
    }
}
// Mobile-Entrypage Specific dcoin styling
.header-dafacoin {
    .cashier-account-balance-amount{
        font-size: 14px;
    }
}
