.app-download {
    display: block;
    margin: 0 0 1rem;
    width: 100%;
    height: auto;
    padding: 0;
    list-style: none;

    &-list {
        float: left;
        display: inline-block;

        a {
            background: $darker-red;
            display: block;
            padding: 1rem 0;
            color: $yellow;
            border-radius: 0.3rem;

            svg {
                display: inline-block;
                height: 100%;
                width: 26.6%;
                margin: 0 0 0 10.4%;
                fill: $yellow;
            }

            span {
                text-align: center;
                width: 50%;
                float: right;
                margin: 0 10.4% 0 2%;
                align-items: center;
                display: flex;
                height: 100%;
                text-align: center;
            }
        }

    }

    &-two {
        width: 47%;
        margin: 0 0 0 2%;
    }

    &-three {
        width: 31.333333%;
        margin: 0 0 1.5% 1.5%;
    }

}
