.app-download {
    margin-bottom: 1rem;

    a {
        display: flex;
        padding: 1rem;
        background: $darker-red;
        font-size: 1.4rem;
        color: $yellow;
        text-transform: uppercase;
        border-radius: 0.3rem;
        align-items: center;
        justify-content: center;
    }

    svg {
        display: block;
        width: 4.5rem;
        margin: 0 1rem 0 0;

        path {
            fill: $yellow;
        }
    }

    &-text {
        display: block;
        text-align: left;
        font-weight: 500;
        line-height: 1.6rem;
    }
}
