$banner-blurb-background: rgba(0,0,0,0.9);

.banner {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;

    // Banner image
    > img {
        width: 100%;
    }

    // Blurb
    &-blurb {
        background: $banner-blurb-background;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        padding: 0.5rem;

        &-outer {
            display: table;
            height: 100%;
            width: 100%;
        }

        &-inner {
            display: table-cell;
            vertical-align: middle;
        }

        // Blurb Position (Default is right)
        &.left {
            left: 0;
            right: auto;
        }

        &.top,
        &.bottom {
            width: 100%;
            height: auto;
        }

        &.bottom {
            top: auto;
            bottom: 0;
            padding: 1rem;
            text-align: center;
        }
    }
}
