.forgot-password-form,
.forgot-username-form,
.reset-password-form,
.confirmation-message,
.api-success-message,
.api-failed-message {
    margin-bottom: 1rem;

    // Anchors
    a:not(.btn) {
        color: $yellow;
        text-decoration: underline;
    }

    h3 {
        color: $light-gray;
        font-size: 1.8rem;
    }
}

form.forgot-password-form,
form.forgot-username-form,
form.reset-password-form {
    transition: opacity 0.3s;

    .form-item {
        & > .loader {
           @extend %form-loader;
        }

    }

    // Blurp top/header
    .ForgotPasswordForm_header_markup,
    .ForgotUsernameForm_header_markup,
    .ResetPasswordForm_header_markup {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        text-align: center;

        .blurb-heading {
            display: none;
        }

        .blurb-summary {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }

    // All form item
    .form-item {
        @extend %form-item-round;
    }

    // top form item
    .ForgotPasswordForm_username,
    .ForgotUsernameForm_email,
    .ResetPasswordForm_new_password {
        @extend %form-item-round-top;
    }

    // bottom form item (usually action buttons)
    .ForgotPasswordForm_submit,
    .ForgotUsernameForm_submit,
    .ResetPasswordForm_submit {
        @extend %form-item-round-bottom;
    }
}

// contact info blurb
.contact-info-blurb,
.ForgotPasswordForm_footer_markup,
.ForgotUsernameForm_footer_markup,
.ResetPasswordForm_footer_markup {
    @extend %contact-info;
}

// Confirmation message
.api-success-message,
.api-failed-message,
.confirmation-message {
    transition: opacity 0.3s;
    opacity: 0;
    text-align: center;

    .icon-check-rounded {
        width: 5rem;
        height: 5rem;
        fill: #50db10;
    }

    .contact-info-blurb {
        padding-top: 2rem;
        border-top: 0.1rem solid #515151;
    }
}

// Temporary fix for double .form-field/.form-field-element
.form-wrapper {
    > .form-field {
        > .form-field-element {
            border-bottom: none;
        }
    }
}

// Reset password page
.reset-password-page {
    padding: 1px 0;
    background: #2a2829;

    form.reset-password-form {
        .blurb-summary {
            margin-top: 1.5rem;
        }
    }

}

// Password annotation with meter/strength
.form-annotation-meter {
    @extend %form-annotation;
}

// Helper for showing only on desktop/mobile
.show-desktop {
    display: none;
}
