.category-tab {
    @extend %clearfix;
    height: 3rem;
    background: $cat-tab-bg;
    position: relative;

    .game-search {
        a {
            width: 3rem;
            height: 3rem;
            position: absolute;
            z-index: 11;
            background: $cat-tab-bg;
        }

        svg {
            outline: none;
            fill: #fff;
            margin: 0.5rem 0 0 0.5rem;
            width: 2rem;
        }
    }
}

.category-tab-list {
    @extend %clearfix;
    padding-left: 0;
    float: left;
    list-style-type: none;
    margin-bottom: 0.2rem;
    padding-left: 3rem;

    .game-category {
        text-align: center;
    }

    a {
        display: inline-block;
        height: 3rem;
        background: $cat-tab-bg;
        color: $cat-tab-color;
        font-size: 1.4rem;
        line-height: 3rem;
        text-decoration: none;
        font-weight: 600;
    }

    .active {
        background: $dark-red;
        color: $yellow;
    }
}
