.category-tab {
    @extend %clearfix;
    background: $cat-tab-bg;
    position: relative;

    .game-search {
        a {
            width: 3rem;
            height: 3rem;
            position: absolute;
            z-index: 11;
            background: $cat-tab-bg;
        }

        svg {
            outline: none;
            fill: #fff;
            margin: 0.7rem 0 0 0.5rem;
            width: 1.7rem;
        }
    }
}

.category-tab-list {
    @extend %clearfix;
    float: left;
    list-style-type: none;

    .game-category {
        text-align: center;
    }

    a {
        display: inline-block;
        background: $cat-tab-bg;
        color: $cat-tab-color;
        font-size: 1.4rem;
        text-decoration: none;
        font-weight: 600;
        padding: 0.5rem;
    }

    .active {
        background: $dark-red;
        color: $yellow;
    }
}
