.mobile-ptplus {
    .game-container {
        background-color: #d9d9d9;
    }

    .category-page {
        background-color: #d9d9d9;
        display: none;
        height: calc(100% - 101px);
        width: 100%;
        position: absolute;
        top: 50px;
        margin: 0;
        padding: 0;
        z-index: 99;
    }

    #lobby-tab-filter {
        .pft-list-menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-transform: uppercase;

            .lobby-tab {
                padding: 0.6rem 1rem;
                font-size: 1.6rem;

                a {
                    color: #373737;
                }
            }
        }
    }

    #game-categories {
        .category-menu-title {
            font-size: 1.8rem;
            color: #af0000;
            text-align: center;
            padding-top: 1.5rem;
        }

        .all-category {
            padding: 0 1rem; 

            .main-game-category {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: inline-block;
                width: 100%;

                .game-category-item {
                    border: 0.1rem solid #373737;
                    border-radius: 0.5rem;
                    display: inline-block;
                    width: calc(33.33333333% - 0.4rem);
                    margin: 0.2rem;
                    position: relative;
                    float: left;
                    min-height: 10rem;
                    
                    p {
                        color: #373737;
                        text-align: center;
                    }

                    img {
                        height: 4rem;
                        width: 4rem;
                    }
                }
            }
        }
    }
}