
.forgot-password-form,
.forgot-username-form {
    .form-item {
        & > .loader {
            position: static;
            margin: 10px 0;

            .loader-container {
                position: relative;
                top: 0;
                transform: translate(-50%, 0);

                .loader {
                    position: absolute !important;
                    top: 0 !important;
                }
            }
        }

    }
}
