.checkbox-styler {
    @include image-replacement($sprite-mobile, 0, 0, 3rem, 2.5rem, 25rem);
    position: relative;
    border-radius: 0.5rem;

    &.checked {
        background-position: 0 -4rem;
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        margin: -0.2rem 0 0 -0.2rem;
        cursor: pointer;
        opacity: 0;
    }
}
