.copyright {
    background: $dark-red;

    p {
        margin-bottom: 0;
        font-size: 1.1rem;
    }
}

.mobile-soda-casino {
	.copyright {
	    background: $soda-gray;
	    color: #373737;
	    font-family: Roboto;
	    font-weight: normal;
	}
}