// Main Club sponsor
.sponsors {
    background: $light-gray;

    &-lists {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
        padding: 1rem 2rem;
        list-style-type: none;
        text-align: center;

        li {
            margin: 0 2%;
            overflow: hidden;
            display: inline-block;

            svg {
                width: 6rem;
                display: block;
                margin: 0 auto;
                fill: #313131;
            }
        }

        .durham {
            svg {
                margin-left: 15%;
            }
        }

        .cadiz {
            svg {
                margin-left: 20%;
            }
        }

        .dafabet-master {
            margin-top: -2rem;

            svg {
                width: 9rem;
            }
        }
    }

    &-title {
        font-weight: 600;
        text-align: center;
        padding: 0.7rem 0 0;
        margin: 0;
        color: $dark-gray;
    }
}

#sponsor-america-miniero {
    .cls-outline {
        fill: #c59c48;
    }

    .cls-2 {
        fill: #f4c016;
    }

    .cls-3,
    .cls-5 {
        fill: #fff;
    }

    .cls-4,
    .cls-6 {
        fill: #026638;
    }

    .cls-4,
    .cls-5 {
        fill-rule: evenodd;
    }
}

#sponsor-cadiz {
    .cadiz0 {
        fill: #000000
    }

    .cadiz1 {
        fill: #d73027
    }

    .cadiz2 {
        fill: #ffe943
    }

    .cadiz3 {
        fill: #0c62ae
    }

    .cadiz4 {
        fill: #ffffff
    }

    .cadiz5 {
        fill: #ffe241
    }

    .cadiz6 {
        fill: #e3e4e6
    }

    .cadiz7 {
        fill: #e4a234
    }

    .cadiz8 {
        fill: #fff6da
    }

    .cadiz9 {
        fill: #dec03e
    }

    .cadiz10 {
        fill: #231f20
    }
}

#sponsor-burnley {
    .burnley0 {
        fill: url('#burnley-grd1')
    }

    .burnley1 {
        fill: url('#burnley-grd2')
    }

    .burnley2 {
        fill: #97d9f6
    }

    .burnley3 {
        fill: #fff30d
    }

    .burnley4 {
        fill: #0c2950
    }

    .burnley5 {
        fill: #fff200
    }

    .burnley6 {
        fill: #630530
    }

    .burnley7 {
        fill: #06121e
    }

    .burnley8 {
        fill: #fab41d
    }

    .burnley9 {
        fill: #fab217
    }
}

#sponsor-sussex {
    .sussex0 {
        fill: none;
        stroke: #d5b77e;
        stroke-width: 0.35
    }

    .sussex1 {
        fill: #fab20b
    }

    .sussex2 {
        fill: #176fc1
    }
}

#sponsor-durham {
    .durham0 {
        fill: #2350a9
    }

    .durham1 {
        fill: #ffef00
    }

    .durham2 {
        fill: #ffffff
    }
}

#sponsor-celtic-fc {
    .sponsor-st0 {
        fill: #313131;
    }

    .sponsor-st1 {
        fill: #018749;
    }

    .sponsor-st2 {
        fill: #FFFFFF;
    }

    .sponsor-st3 {
        fill: #F9FBF2;
    }

    .sponsor-st4 {
        fill: #0D0802;
    }

    .sponsor-st5 {
        fill: #E4221B;
    }

    .sponsor-st6 {
        fill: #AF0000;
    }

    .sponsor-st7 {
        fill: #F7EC30;
    }

    .sponsor-st8 {
        fill: #00A650;
    }

    .sponsor-st9 {
        fill: #241F20;
        stroke: #241F20;
        stroke-width: 3.135469e-02;
        stroke-miterlimit: 1.3378;
    }

    .sponsor-st10 {
        fill: #FFF200;
        stroke: #FFF200;
        stroke-width: 3.135469e-02;
        stroke-miterlimit: 1.3378;
    }

    .sponsor-st11 {
        fill: #00A750;
    }

    .sponsor-st12 {
        fill: #EE3129;
    }

    .sponsor-st13 {
        fill: #A83031;
    }
}

#sponsor-santos-fc {
    .st0 {
        fill: #FFFFFF;
    }

    .st1 {
        fill: #00A750;
    }

    .st2 {
        fill: #FCFCFC;
    }

    .st3 {
        fill: #1D1D1B;
    }

    .st4 {
        fill: #009540;
    }

    .st5 {
        fill: #FFEC00;
    }

    .st6 {
        fill: #F5F9ED;
    }

    .st7 {
        fill: #ED3029;
    }

    .st8 {
        fill: #EE3129;
    }

    .st9 {
        fill: #A83031;
    }

    .st10 {
        fill: none;
        stroke: #D5B77E;
        stroke-width: 0.35;
        stroke-miterlimit: 79.8403;
    }

    .st11 {
        fill: #FAB20B;
    }

    .st12 {
        fill: #176FC1;
    }

    .st13 {
        fill: #D31F2C;
    }

    .st14 {
        fill: #060737;
    }

    .st15 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #AF0000;
    }

    .st16 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFE000;
    }

    .st17 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFFFFF;
    }

    .st18 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFEF00;
    }

    .st19 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFFFFF;
    }

    .st20 {
        fill: #2350A9;
    }

    .st21 {
        fill: #D73027;
    }

    .st22 {
        fill: #FFE943;
    }

    .st23 {
        fill: #0C62AE;
    }

    .st24 {
        fill: #FFE241;
    }

    .st25 {
        fill: #E3E4E6;
    }

    .st26 {
        fill: #E4A234;
    }

    .st27 {
        fill: #FFF6DA;
    }

    .st28 {
        fill: #DEC03E;
    }

    .st29 {
        fill: #231F20;
    }

    .st30 {
        fill: url(#SVGID_1_);
    }

    .st31 {
        fill: url(#SVGID_2_);
    }

    .st32 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #97D9F6;
    }

    .st33 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFF30D;
    }

    .st34 {
        fill: #FFFFFF;
    }

    .st35 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFF200;
    }

    .st36 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #630530;
    }

    .st37 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFFFFF;
    }

    .st38 {
        fill: #630530;
    }

    .st39 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #06121E;
    }

    .st40 {
        fill: #FAB41D;
    }

    .st41 {
        fill: #97D9F6;
    }

    .st42 {
        fill: #06121E;
    }

    .st43 {
        fill: #FFF30D;
    }

    .st44 {
        fill: #FFF200;
    }

    .st45 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FAB217;
    }

    .st46 {
        fill: #FA5500;
    }

    .st47 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #927C4E;
    }
}

#sponsor-warwickshire-edgbaston {
    enable-background: new 0 0 180 180;

    .st1 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFEF00;
    }

    .st2 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFFFFF;
    }

    .st3 {
        fill: #2350A9;
    }

    .st4 {
        fill: none;
        stroke: #D5B77E;
        stroke-width: 0.35;
        stroke-miterlimit: 79.8403;
    }

    .st5 {
        fill: #FAB20B;
    }

    .st6 {
        fill: #176FC1;
    }

    .st7 {
        fill: #D73027;
    }

    .st8 {
        fill: #FFE943;
    }

    .st9 {
        fill: #0C62AE;
    }

    .st10 {
        fill: #FFFFFF;
    }

    .st11 {
        fill: #FFE241;
    }

    .st12 {
        fill: #E3E4E6;
    }

    .st13 {
        fill: #E4A234;
    }

    .st14 {
        fill: #FFF6DA;
    }

    .st15 {
        fill: #DEC03E;
    }

    .st16 {
        fill: #231F20;
    }

    .st17 {
        fill: url(#SVGID_1_);
    }

    .st18 {
        fill: url(#SVGID_2_);
    }

    .st19 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #97D9F6;
    }

    .st20 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFF30D;
    }

    .st21 {
        fill: #0C2950;
    }

    .st22 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFF200;
    }

    .st23 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #630530;
    }

    .st24 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #0C2950;
    }

    .st25 {
        fill: #630530;
    }

    .st26 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #06121E;
    }

    .st27 {
        fill: #FAB41D;
    }

    .st28 {
        fill: #97D9F6;
    }

    .st29 {
        fill: #06121E;
    }

    .st30 {
        fill: #FFF30D;
    }

    .st31 {
        fill: #FFF200;
    }

    .st32 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FAB217;
    }

    .st33 {
        fill: #00A750;
    }

    .st34 {
        fill: #1D1D1B;
    }

    .st35 {
        fill: #009540;
    }

    .st36 {
        fill: #FFEC00;
    }

    .st37 {
        fill: #FA5500;
    }

    .st38 {
        fill: #C59C48;
    }

    .st39 {
        fill: #F4C016;
    }

    .st40 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #026638;
    }

    .st41 {
        fill: #026638;
    }

    .st42 {
        fill: #E2C486;
    }

    .st43 {
        fill: #F8F8F8;
    }

    .st44 {
        fill: #0A2165;
    }

    .st45 {
        fill: #002562;
    }
}

#sponsor-palemiras-fc {
    .st1 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFEF00;
    }

    .st2 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFFFFF;
    }

    .st3 {
        fill: #2350A9;
    }

    .st4 {
        fill: none;
        stroke: #D5B77E;
        stroke-width: 0.35;
        stroke-miterlimit: 79.8403;
    }

    .st5 {
        fill: #FAB20B;
    }

    .st6 {
        fill: #176FC1;
    }

    .st7 {
        fill: #D73027;
    }

    .st8 {
        fill: #FFE943;
    }

    .st9 {
        fill: #0C62AE;
    }

    .st10 {
        fill: #FFFFFF;
    }

    .st11 {
        fill: #FFE241;
    }

    .st12 {
        fill: #E3E4E6;
    }

    .st13 {
        fill: #E4A234;
    }

    .st14 {
        fill: #FFF6DA;
    }

    .st15 {
        fill: #DEC03E;
    }

    .st16 {
        fill: #231F20;
    }

    .st17 {
        fill: url(#SVGID_1_);
    }

    .st18 {
        fill: url(#SVGID_2_);
    }

    .st19 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #97D9F6;
    }

    .st20 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFF30D;
    }

    .st21 {
        fill: #0C2950;
    }

    .st22 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFF200;
    }

    .st23 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #630530;
    }

    .st24 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #0C2950;
    }

    .st25 {
        fill: #630530;
    }

    .st26 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #06121E;
    }

    .st27 {
        fill: #FAB41D;
    }

    .st28 {
        fill: #97D9F6;
    }

    .st29 {
        fill: #06121E;
    }

    .st30 {
        fill: #FFF30D;
    }

    .st31 {
        fill: #FFF200;
    }

    .st32 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FAB217;
    }

    .st33 {
        fill: #00A750;
    }

    .st34 {
        fill: #1D1D1B;
    }

    .st35 {
        fill: #009540;
    }

    .st36 {
        fill: #FFEC00;
    }

    .st37 {
        fill: #FA5500;
    }

    .st38 {
        fill: #C59C48;
    }

    .st39 {
        fill: #F4C016;
    }

    .st40 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #026638;
    }

    .st41 {
        fill: #026638;
    }

    .st42 {
        fill: #E2C486;
    }

    .st43 {
        fill: #F8F8F8;
    }

    .st44 {
        fill: #0A2165;
    }

    .st45 {
        fill: #002562;
    }

    .st46 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #927C4E;
    }

    .st47 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #006437;
    }

    .st48 {
        fill: #006437;
    }
}

#sponsor-carlos-barbosa-futsal {
    .cls-1 {
        fill: #e2dbb6;
    }

    .cls-1,
    .cls-2,
    .cls-3,
    .cls-4,
    .cls-5,
    .cls-6,
    .cls-7,
    .cls-8,
    .cls-9,
    .cls-10,
    .cls-11,
    .cls-12,
    .cls-13,
    .cls-14,
    .cls-15,
    .cls-16,
    .cls-17,
    .cls-18,
    .cls-19,
    .cls-20,
    .cls-21,
    .cls-22,
    .cls-23,
    .cls-24,
    .cls-25,
    .cls-26,
    .cls-27,
    .cls-28,
    .cls-29,
    .cls-30,
    .cls-31,
    .cls-32,
    .cls-33,
    .cls-34,
    .cls-35,
    .cls-36,
    .cls-37,
    .cls-38,
    .cls-39,
    .cls-40,
    .cls-41,
    .cls-42,
    .cls-43,
    .cls-44,
    .cls-45,
    .cls-46,
    .cls-47,
    .cls-48,
    .cls-49,
    .cls-50,
    .cls-51,
    .cls-52,
    .cls-53,
    .cls-54,
    .cls-55,
    .cls-56,
    .cls-57,
    .cls-58,
    .cls-59,
    .cls-60,
    .cls-61,
    .cls-62,
    .cls-63,
    .cls-64,
    .cls-65,
    .cls-66,
    .cls-67,
    .cls-68,
    .cls-69,
    .cls-70,
    .cls-71,
    .cls-72,
    .cls-73,
    .cls-74,
    .cls-75,
    .cls-76,
    .cls-77,
    .cls-78,
    .cls-79,
    .cls-80,
    .cls-81,
    .cls-82,
    .cls-83,
    .cls-84,
    .cls-85,
    .cls-86,
    .cls-87,
    .cls-88,
    .cls-89,
    .cls-90,
    .cls-91,
    .cls-92,
    .cls-93,
    .cls-94,
    .cls-95,
    .cls-96,
    .cls-97,
    .cls-98,
    .cls-99,
    .cls-100,
    .cls-101,
    .cls-102,
    .cls-103,
    .cls-104,
    .cls-105,
    .cls-106,
    .cls-107,
    .cls-108,
    .cls-109,
    .cls-110,
    .cls-111,
    .cls-112,
    .cls-113,
    .cls-114,
    .cls-115,
    .cls-116,
    .cls-117,
    .cls-118,
    .cls-119,
    .cls-120,
    .cls-121,
    .cls-122,
    .cls-123,
    .cls-124,
    .cls-125 {
        fill-rule: evenodd;
    }

    .cls-2 {
        fill: #efceb1;
    }

    .cls-3 {
        fill: #eddea9;
    }

    .cls-4 {
        fill: #e4e3e2;
    }

    .cls-5 {
        fill: #ebd3b6;
    }

    .cls-6 {
        fill: #ebe8ea;
    }

    .cls-7 {
        fill: #f1f0ee;
    }

    .cls-8 {
        fill: #ddd2b1;
    }

    .cls-9 {
        fill: #edcfaf;
    }

    .cls-10 {
        fill: #eacaad;
    }

    .cls-11 {
        fill: #d5d3d3;
    }

    .cls-12 {
        fill: #ece5c8;
    }

    .cls-13 {
        fill: #e4d5b1;
    }

    .cls-14 {
        fill: #f4d8bc;
    }

    .cls-15 {
        fill: #e5d6c5;
    }

    .cls-16 {
        fill: #ddbea8;
    }

    .cls-17 {
        fill: #ddd9d9;
    }

    .cls-18 {
        fill: #e9e7e9;
    }

    .cls-19 {
        fill: #e3d3a1;
    }

    .cls-20 {
        fill: #f3eed4;
    }

    .cls-21 {
        fill: #eaeae8;
    }

    .cls-22 {
        fill: #d4be8e;
    }

    .cls-23 {
        fill: #fff;
    }

    .cls-24 {
        fill: #efe3b7;
    }

    .cls-25 {
        fill: #f4d6b8;
    }

    .cls-26 {
        fill: #ddcba1;
    }

    .cls-27 {
        fill: #dfdddd;
    }

    .cls-28 {
        fill: #eacdb3;
    }

    .cls-29 {
        fill: #ece3c3;
    }

    .cls-30 {
        fill: #f2e8bc;
    }

    .cls-31 {
        fill: #efeded;
    }

    .cls-32 {
        fill: #e7e6e6;
    }

    .cls-33 {
        fill: #efe3b4;
    }

    .cls-34 {
        fill: #eee8ca;
    }

    .cls-35 {
        fill: #ede0b1;
    }

    .cls-36 {
        fill: #e8d8a2;
    }

    .cls-37 {
        fill: #dec1a8;
    }

    .cls-38 {
        fill: #f8f1da;
    }

    .cls-39 {
        fill: #efd0bb;
    }

    .cls-40 {
        fill: #e2d9b4;
    }

    .cls-41 {
        fill: #f6dbbd;
    }

    .cls-42 {
        fill: #ffe3c9;
    }

    .cls-43 {
        fill: #eae9e6;
    }

    .cls-44 {
        fill: #efe1b1;
    }

    .cls-45 {
        fill: #dad6d8;
    }

    .cls-46 {
        fill: #eccfb9;
    }

    .cls-47 {
        fill: #eccbad;
    }

    .cls-48 {
        fill: #dcbda6;
    }

    .cls-49 {
        fill: #eadba8;
    }

    .cls-50 {
        fill: #dbc698;
    }

    .cls-51 {
        fill: #decb9b;
    }

    .cls-52 {
        fill: #eaceb5;
    }

    .cls-53 {
        fill: #ddd4ae;
    }

    .cls-54 {
        fill: #eccfb1;
    }

    .cls-55 {
        fill: #e0d6ad;
    }

    .cls-56 {
        fill: #efd2ba;
    }

    .cls-57 {
        fill: #ece1c0;
    }

    .cls-58 {
        fill: #e4dfdf;
    }

    .cls-59 {
        fill: #e7e1be;
    }

    .cls-60 {
        fill: #e1dfe3;
    }

    .cls-61 {
        fill: #ede0ac;
    }

    .cls-62 {
        fill: #f1d3b5;
    }

    .cls-63 {
        fill: #e6d9ba;
    }

    .cls-64 {
        fill: #fadec3;
    }

    .cls-65 {
        fill: #e5d6c1;
    }

    .cls-66 {
        fill: #d9c59c;
    }

    .cls-67 {
        fill: #e8ccb1;
    }

    .cls-68 {
        fill: #dfdadb;
    }

    .cls-69 {
        fill: #f6dbc1;
    }

    .cls-70 {
        fill: #eae7e5;
    }

    .cls-71 {
        fill: #e7d8ab;
    }

    .cls-72 {
        fill: #e7e6e3;
    }

    .cls-73 {
        fill: #dcd3a9;
    }

    .cls-74 {
        fill: #eac9a9;
    }

    .cls-75 {
        fill: #f6dbc2;
    }

    .cls-76 {
        fill: #eaebe9;
    }

    .cls-77 {
        fill: #e1d6b9;
    }

    .cls-78 {
        fill: #dedee1;
    }

    .cls-79 {
        fill: #f5edd7;
    }

    .cls-80 {
        fill: #eac9b3;
    }

    .cls-81 {
        fill: #e2c3a9;
    }

    .cls-82 {
        fill: #f1ebd1;
    }

    .cls-83 {
        fill: #dadada;
    }

    .cls-84 {
        fill: #f1eeed;
    }

    .cls-85 {
        fill: #d8b8a1;
    }

    .cls-86 {
        fill: #e0c1a9;
    }

    .cls-87 {
        fill: #eacaac;
    }

    .cls-88 {
        fill: #f4f4f4;
    }

    .cls-89 {
        fill: #fddfc5;
    }

    .cls-90 {
        fill: #ebd0b5;
    }

    .cls-91 {
        fill: #f4dac1;
    }

    .cls-92 {
        fill: #f0d6b8;
    }

    .cls-93 {
        fill: #f6dfc4;
    }

    .cls-94 {
        fill: #d6c191;
    }

    .cls-95 {
        fill: #eee4c7;
    }

    .cls-96 {
        fill: #d6bf91;
    }

    .cls-97 {
        fill: #ebcead;
    }

    .cls-98 {
        fill: #ecceb8;
    }

    .cls-99 {
        fill: #e1d4bd;
    }

    .cls-100 {
        fill: #e1d4ba;
    }

    .cls-101 {
        fill: #e5c5ad;
    }

    .cls-102 {
        fill: #e7c6b1;
    }

    .cls-103 {
        fill: #e5c7b0;
    }

    .cls-104 {
        fill: #1e2222;
    }

    .cls-105 {
        fill: #edd3b4;
    }

    .cls-106 {
        fill: #eee9e9;
    }

    .cls-107 {
        fill: #dad8da;
    }

    .cls-108 {
        fill: #f1e9ce;
    }

    .cls-109 {
        fill: #fde1ca;
    }

    .cls-110 {
        fill: #e4e4e4;
    }

    .cls-111 {
        fill: #ddbea6;
    }

    .cls-112 {
        fill: #e7d7a9;
    }

    .cls-113 {
        fill: #e2d2ab;
    }

    .cls-114 {
        fill: #ececeb;
    }

    .cls-115 {
        fill: #edd3b8;
    }

    .cls-116 {
        fill: #d5d3d7;
    }

    .cls-117 {
        fill: #e7dcaf;
    }

    .cls-118 {
        fill: #e5c4ad;
    }

    .cls-119 {
        fill: #f89c37;
    }

    .cls-120 {
        fill: #e4e5e3;
    }

    .cls-121 {
        fill: #f1d5bf;
    }

    .cls-122 {
        fill: #e5d4a5;
    }

    .cls-123 {
        fill: #e0d3b3;
    }

    .cls-124 {
        fill: #dddbda;
    }

    .cls-125 {
        fill: #eae6e6;
    }
}

#sponsor-derbyshire {
    .cls-1 {
        fill: #fff;
    }

    .cls-2 {
        fill: #4e1a00;
    }

    .cls-3 {
        fill: #002d5b;
    }

    .cls-4 {
        fill: #dd971a;
    }

    .cls-5 {
        fill: #57b5e6;
    }
}

#sponsor-operario {
    .cls-1 {
        fill: #fff;
    }

    .cls-2 {
        fill: #b0b0b0;
    }

    .cls-2,
    .cls-3 {
        fill-rule: evenodd;
    }

    .cls-3 {
        fill: #ddae5f;
    }
}

#sponsor-leicestershire {
    .cls-1 {
        fill: #e73e33;
    }

    .cls-2 {
        fill: #fff;
    }

    .cls-3 {
        fill: #358242;
    }
}

#sponsor-coritiba {
    .cls-1 {
        fill: #fff;
    }

    .cls-2 {
        fill: #00544d;
    }

    .cls-3 {
        fill: #fad716;
    }
}

#sponsor-cusco {
    .st0 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #2350A9;
    }

    .st1 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFEF00;
    }

    .st2 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFFFFF;
    }

    .st3 {
        fill: #2350A9;
    }

    .st4 {
        fill: none;
        stroke: #D5B77E;
        stroke-width: 0.35;
        stroke-miterlimit: 79.8403;
    }

    .st5 {
        fill: #FAB20B;
    }

    .st6 {
        fill: #176FC1;
    }

    .st7 {
        fill: #D73027;
    }

    .st8 {
        fill: #FFE943;
    }

    .st9 {
        fill: #0C62AE;
    }

    .st10 {
        fill: #FFFFFF;
    }

    .st11 {
        fill: #FFE241;
    }

    .st12 {
        fill: #E3E4E6;
    }

    .st13 {
        fill: #E4A234;
    }

    .st14 {
        fill: #FFF6DA;
    }

    .st15 {
        fill: #DEC03E;
    }

    .st16 {
        fill: #231F20;
    }

    .st17 {
        fill: url(#SVGID_1_);
    }

    .st18 {
        fill: url(#SVGID_00000100347882028689851230000001275070669598288571_);
    }

    .st19 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #97D9F6;
    }

    .st20 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFF30D;
    }

    .st21 {
        fill: #0C2950;
    }

    .st22 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFF200;
    }

    .st23 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #630530;
    }

    .st24 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #0C2950;
    }

    .st25 {
        fill: #630530;
    }

    .st26 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #06121E;
    }

    .st27 {
        fill: #FAB41D;
    }

    .st28 {
        fill: #97D9F6;
    }

    .st29 {
        fill: #06121E;
    }

    .st30 {
        fill: #FFF30D;
    }

    .st31 {
        fill: #FFF200;
    }

    .st32 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FAB217;
    }

    .st33 {
        fill: #00A750;
    }

    .st34 {
        fill: #1D1D1B;
    }

    .st35 {
        fill: #009540;
    }

    .st36 {
        fill: #FFEC00;
    }

    .st37 {
        fill: #FA5500;
    }

    .st38 {
        fill: #C59C48;
    }

    .st39 {
        fill: #F4C016;
    }

    .st40 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #026638;
    }

    .st41 {
        fill: #026638;
    }

    .st42 {
        fill: #E2C486;
    }

    .st43 {
        fill: #F8F8F8;
    }

    .st44 {
        fill: #0A2165;
    }

    .st45 {
        fill: #002562;
    }

    .st46 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #927C4E;
    }

    .st47 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #006437;
    }

    .st48 {
        fill: #006437;
    }

    .st49 {
        fill: #00544D;
    }

    .st50 {
        fill: #FAD716;
    }

    .st51 {
        fill: #358242;
    }

    .st52 {
        fill: #E73E33;
    }

    .st53 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #B0B0B0;
    }

    .st54 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DDAE5F;
    }

    .st55 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E1D6B9;
    }

    .st56 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F89C37;
    }

    .st57 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #1E2222;
    }

    .st58 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #D5D3D3;
    }

    .st59 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #D5D3D7;
    }

    .st60 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DADADA;
    }

    .st61 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DAD8DA;
    }

    .st62 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DDDBDA;
    }

    .st63 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DFDDDD;
    }

    .st64 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DEDEE1;
    }

    .st65 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E4E3E2;
    }

    .st66 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E4DFDF;
    }

    .st67 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E7E6E6;
    }

    .st68 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E4E4E4;
    }

    .st69 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EAEAE8;
    }

    .st70 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EEE9E9;
    }

    .st71 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EFEDED;
    }

    .st72 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EBE8EA;
    }

    .st73 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F1EEED;
    }

    .st74 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EAEBE9;
    }

    .st75 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EAE9E6;
    }

    .st76 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EAE7E5;
    }

    .st77 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EAE6E6;
    }

    .st78 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E1DFE3;
    }

    .st79 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DFDADB;
    }

    .st80 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E7E6E3;
    }

    .st81 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DDD9D9;
    }

    .st82 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E4E5E3;
    }

    .st83 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DAD6D8;
    }

    .st84 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #ECECEB;
    }

    .st85 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F1F0EE;
    }

    .st86 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E9E7E9;
    }

    .st87 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F4F4F4;
    }

    .st88 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E8D8A2;
    }

    .st89 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E5D6C5;
    }

    .st90 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EADBA8;
    }

    .st91 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E5D6C1;
    }

    .st92 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EDDEA9;
    }

    .st93 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E1D4BD;
    }

    .st94 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EDE0AC;
    }

    .st95 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E1D4BA;
    }

    .st96 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EFE1B1;
    }

    .st97 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EFE3B4;
    }

    .st98 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E0D3B3;
    }

    .st99 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EFE3B7;
    }

    .st100 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DDD2B1;
    }

    .st101 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F2E8BC;
    }

    .st102 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DDD4AE;
    }

    .st103 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DCD3A9;
    }

    .st104 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EDE0B1;
    }

    .st105 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E0D6AD;
    }

    .st106 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E7DCAF;
    }

    .st107 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E2D9B4;
    }

    .st108 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E7D8AB;
    }

    .st109 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E2DBB6;
    }

    .st110 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E7D7A9;
    }

    .st111 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E7E1BE;
    }

    .st112 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E5D4A5;
    }

    .st113 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #ECE3C3;
    }

    .st114 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E3D3A1;
    }

    .st115 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #ECE5C8;
    }

    .st116 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DECB9B;
    }

    .st117 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EEE8CA;
    }

    .st118 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DBC698;
    }

    .st119 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F1EBD1;
    }

    .st120 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #D6C191;
    }

    .st121 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F3EED4;
    }

    .st122 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #D4BE8E;
    }

    .st123 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F8F1DA;
    }

    .st124 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #D6BF91;
    }

    .st125 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #D9C59C;
    }

    .st126 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DDCBA1;
    }

    .st127 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F5EDD7;
    }

    .st128 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E2D2AB;
    }

    .st129 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F1E9CE;
    }

    .st130 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E4D5B1;
    }

    .st131 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EEE4C7;
    }

    .st132 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E6D9BA;
    }

    .st133 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #ECE1C0;
    }

    .st134 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EFD0BB;
    }

    .st135 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F0D6B8;
    }

    .st136 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #ECCEB8;
    }

    .st137 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EDD3B8;
    }

    .st138 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EAC9B3;
    }

    .st139 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EBD3B6;
    }

    .st140 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EDD3B4;
    }

    .st141 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E7C6B1;
    }

    .st142 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EBD0B5;
    }

    .st143 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E5C5AD;
    }

    .st144 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #ECCFB1;
    }

    .st145 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E5C4AD;
    }

    .st146 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EDCFAF;
    }

    .st147 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DDBEA8;
    }

    .st148 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EBCEAD;
    }

    .st149 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DDBEA6;
    }

    .st150 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EACAAD;
    }

    .st151 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #D8B8A1;
    }

    .st152 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EACAAC;
    }

    .st153 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DCBDA6;
    }

    .st154 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #DEC1A8;
    }

    .st155 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EAC9A9;
    }

    .st156 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E0C1A9;
    }

    .st157 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #ECCBAD;
    }

    .st158 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E2C3A9;
    }

    .st159 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E5C7B0;
    }

    .st160 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EFCEB1;
    }

    .st161 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #E8CCB1;
    }

    .st162 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F1D3B5;
    }

    .st163 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EACDB3;
    }

    .st164 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EACEB5;
    }

    .st165 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F4D6B8;
    }

    .st166 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #ECCFB9;
    }

    .st167 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F4D8BC;
    }

    .st168 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EFD2BA;
    }

    .st169 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F6DBBD;
    }

    .st170 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F1D5BF;
    }

    .st171 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F6DBC1;
    }

    .st172 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F4DAC1;
    }

    .st173 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FADEC3;
    }

    .st174 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FDDFC5;
    }

    .st175 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F6DBC2;
    }

    .st176 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FDE1CA;
    }

    .st177 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F6DFC4;
    }

    .st178 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFE3C9;
    }

    .st179 {
        fill: #002D5B;
    }

    .st180 {
        fill: #DD971A;
    }

    .st181 {
        fill: #57B5E6;
    }

    .st182 {
        fill: #4E1A00;
    }

    .st183 {
        fill: #C99A58;
    }

    .st184 {
        fill: #CD9D59;
    }

    .st185 {
        fill: #CA9B58;
    }

    .st186 {
        fill: #030201;
    }

    .st187 {
        fill: #040302;
    }

    .st188 {
        fill: #030301;
    }

    .st189 {
        fill: #050402;
    }

    .st190 {
        fill: #D1A15B;
    }

    .st191 {
        fill: #CF9F5A;
    }

    .st192 {
        fill: #171109;
    }

    .st193 {
        fill: #B3894C;
    }

    .st194 {
        fill: #CC9E59;
    }

    .st195 {
        fill: #D0A05B;
    }

    .st196 {
        fill: #CC9D58;
    }

    .st197 {
        fill: #AB8349;
    }

    .st198 {
        fill: #CD9E59;
    }

    .st199 {
        fill: #D8A65E;
    }

    .st200 {
        fill: #D2A15B;
    }

    .st201 {
        fill: #CB9C58;
    }

    .st202 {
        fill: #D6A45D;
    }

    .st203 {
        fill: #DFAD62;
    }

    .st204 {
        fill: #BF9252;
    }

    .st205 {
        fill: #DEAB61;
    }

    .st206 {
        fill: #CE9E5A;
    }

    .st207 {
        fill: #DCAA60;
    }

    .st208 {
        fill: #D6A55E;
    }

    .st209 {
        fill: #D2A25C;
    }

    .st210 {
        fill: #DBA960;
    }

    .st211 {
        fill: #D7A45E;
    }

    .st212 {
        fill: #CA9B57;
    }

    .st213 {
        fill: #DFAC62;
    }

    .st214 {
        fill: #E2AE63;
    }

    .st215 {
        fill: #DCAA61;
    }

    .st216 {
        fill: #E0AE62;
    }

    .st217 {
        fill: #D7A65E;
    }

    .st218 {
        fill: #D3A25C;
    }

    .st219 {
        fill: #DEAA61;
    }

    .st220 {
        fill: #DDAB61;
    }

    .st221 {
        fill: #D4A35C;
    }

    .st222 {
        fill: #DEAC62;
    }

    .st223 {
        fill: #C89957;
    }

    .st224 {
        fill: #C89A57;
    }

    .st225 {
        fill: #C99A57;
    }

    .st226 {
        fill: #C99B57;
    }

    .st227 {
        fill: #CE9F5A;
    }

    .st228 {
        fill: #C79957;
    }

    .st229 {
        fill: #C59756;
    }

    .st230 {
        fill: #C49655;
    }

    .st231 {
        fill: #D5A35D;
    }

    .st232 {
        fill: #E0AD63;
    }

    .st233 {
        fill: #D1A15C;
    }

    .st234 {
        fill: #D3A35C;
    }

    .st235 {
        fill: #D7A55E;
    }

    .st236 {
        fill: #CFA05A;
    }

    .st237 {
        fill: #D8A75E;
    }

    .st238 {
        fill: #C19454;
    }

    .st239 {
        fill: #E1AE63;
    }

    .st240 {
        fill: #E9B467;
    }

    .st241 {
        fill: #D0A05A;
    }

    .st242 {
        fill: #D5A55E;
    }

    .st243 {
        fill: #E6B065;
    }

    .st244 {
        fill: #D2A15C;
    }

    .st245 {
        fill: #C39554;
    }

    .st246 {
        fill: #A37D45;
    }

    .st247 {
        fill: #B1874C;
    }

    .st248 {
        fill: #E4B064;
    }

    .st249 {
        fill: #D9A75F;
    }

    .st250 {
        fill: #846436;
    }

    .st251 {
        fill: #4A371B;
    }

    .st252 {
        fill: #E5B164;
    }

    .st253 {
        fill: #D4A45D;
    }

    .st254 {
        fill: #CD9E5A;
    }

    .st255 {
        fill: #CB9B58;
    }

    .st256 {
        fill: #C69856;
    }

    .st257 {
        fill: #C79956;
    }

    .st258 {
        fill: #B98E50;
    }

    .st259 {
        fill: #DBA860;
    }

    .st260 {
        fill: #B48A4D;
    }

    .st261 {
        fill: #EAB467;
    }

    .st262 {
        fill: #C39555;
    }

    .st263 {
        fill: #D8A65F;
    }

    .st264 {
        fill: #E0AE63;
    }

    .st265 {
        fill: #E0AD62;
    }

    .st266 {
        fill: #DDAA61;
    }

    .st267 {
        fill: #E9B367;
    }

    .st268 {
        fill: #BF9353;
    }

    .st269 {
        fill: #110D07;
    }

    .st270 {
        fill: #2F2312;
    }

    .st271 {
        fill: #020201;
    }

    .st272 {
        fill: #E3B064;
    }

    .st273 {
        fill: #CA9C58;
    }

    .st274 {
        fill: #3B2B14;
    }

    .st275 {
        fill: #D5A45C;
    }

    .st276 {
        fill: #DDAA60;
    }

    .st277 {
        fill: #E4AF64;
    }
}

#sponsor-afcbournemout {
    .cls-1 {
        fill: #fff;
    }

    .cls-2 {
        fill: #d81f27;
    }

    .cls-3 {
        fill: url(#CMYK_Red_Gradient);
    }

    .cls-4 {
        fill: #f8e3a8;
    }

    .cls-5 {
        fill: url(#CMYK_Red_Gradient-2);
    }
}
