.mobile-lottery {
    // Portrait
    @media (orientation: portrait) {
        #game-container {
            .game-lottery-lobby-container {
                &.featured,
                &.providers {
                    .game-listing {
                        width: 50%;
                        padding: 0.2% 0.2% 1% 0.2%;
                    }
                }
            }
        }
    }

    // Landscape
    @media (orientation: landscape) {
        #game-container {
            .game-lottery-lobby-container {
                &.featured,
                &.providers {
                    .game-listing {
                        width: 33.3%;
                        padding: 0.2% 0.2% 1% 0.2%;
                    }
                }
            }
        }
    }
}
