#game-container,
.game-container {
    background: $dark-red;
}

.game-tiles {
    display: inline-block;
}

.game-listing {
    width: 100vw;
    float: left;
    padding: 0 1% 1.75% 1%;

    .size-small,
    .size-large {
        .game-favorite {
            position: absolute;
            top: 0;
            outline: none;
            border: 0;
            cursor: pointer;

            svg {
                width: 30%;
                outline: none;
                border: 0;
                cursor: pointer;
                fill: $white;
                margin: 15% 0 0 55%;

            }
        }
    }

    .size-small {
        width: 33.33333333%;

        .game-favorite {
            right: 2.75%;
            width: 40%;
            height: 40%;
        }

        .game-favorite.active {
            svg {
                fill: $yellow;
            }
        }
    }

    .size-large {
        width: 66.66666667%;

        .game-favorite {
            right: 1.5%;
            width: 20%;
            height: 20%;
        }

        .game-favorite.active {
            svg {
                fill: $yellow;
            }
        }
    }

    &-item {
        position: relative;
        float: left;
        display: inline-block;
        min-height: 0.1rem;
        padding: 0 1%;
    }

    .size-large:nth-child(even) + .size-small {
        margin-top: -24.5%;
    }

    .size-large:nth-child(odd) + .size-small {
        padding-bottom: 1.5%;
    }
}

.game-listing:first-child {
    margin-top: 2%;
}

// Game Ribbon
.game-ribbon {
    position: absolute;
    top: 0.5rem;
    display: block;
    padding: 0.2rem 0.5rem;
    background: #ff0000;
    color: white;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    font-weight: bold;
}

.game-list-thumb {
    width: 100%;
}
