.game-container {
    background: $dark-red;

    #game-container {
        position: relative;
        transition:all 0.5s ease-in-out;
        z-index: 0;

        .mobile-game-loader {
            width: 100vw;
            height: 20vw;
            z-index: 1;

            .sk-fading-circle {
                width: 6rem;
                height: 6rem;
            }
        }
    }

    .search-blurb {
        margin: 1rem 0 1rem 1rem;
        display: block;
        position: relative;

        span {
            display: block;
        }
    }

}


.game-tiles {
    display: inline-block;
}

.game-listing {
    width: 100vw;
    float: left;
    padding: 0 1% 1.75% 1%;

    .size-small,
    .size-large {
        .game-favorite {
            position: absolute;
            top: 0;
            outline: none;
            border: 0;
            cursor: pointer;

            svg {
                margin: 15% 0 0 55%;
                width: 32%;
                outline: none;
                border: 0;
                cursor: pointer;

                path {
                    fill: $white;
                }
            }
        }
    }

    .size-small {
        width: 33.33333333%;

        .game-favorite {
            right: 2.75%;
            width: 40%;
            height: 40%;
        }

        .game-favorite.active {
            svg {
                path {
                    fill: $yellow;
                }
            }
        }
    }

    .size-large {
        width: 66.66666667%;

        .game-favorite {
            right: 1.5%;
            width: 20%;
            height: 20%;
        }

        .game-favorite.active {
            svg {
                fill: $yellow;
            }
        }
    }

    &-item {
        position: relative;
        float: left;
        display: inline-block;
        min-height: 0.1rem;
        padding: 0 1%;
    }

    .size-large:nth-child(even) + .size-small {
        margin-top: -24.5%;
    }

    .size-large:nth-child(odd) + .size-small {
        padding-bottom: 1.5%;
    }
}

// Game Ribbon
.game-ribbon {
    position: absolute;
    top: 0.5rem;
    display: block;
    padding: 0.2rem 0.5rem;
    background: #ff0000;
    color: white;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    font-weight: bold;
}

.game-list-thumb {
    width: 100%;
}

.game-loader {
    float: left;

    &-load-more {
        font-size: 0;
    }

    .mobile-game-loader {
        width: 100vw;
        height: 20vw;
        z-index: 1;

        .sk-fading-circle {
            width: 6rem;
            height: 6rem;
        }
    }
}

@-webkit-keyframes bounce-left {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);}
    40% {-webkit-transform: translateX(-3.0rem);}
    60% {-webkit-transform: translateX(-2.0rem);}
} 
@keyframes bounce-left {
    0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
    40% {transform: translateX(-3.0rem);}
    60% {transform: translateX(-2.0rem);}
} 


.bounce-left {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce-left;
    animation-name: bounce-left;
}

@-webkit-keyframes bounce-right {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);}
    40% {-webkit-transform: translateX(3.0rem);}
    60% {-webkit-transform: translateX(2.0rem);}
} 
@keyframes bounce-right {
    0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
    40% {transform: translateX(3.0rem);}
    60% {transform: translateX(2.0rem);}
} 


.bounce-right {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce-right;
    animation-name: bounce-right;
}
