.mobile-lottery {
    .lottery-lobby-tile-container {
        padding-top: 1%;

        .game-tiles {
            width:100%;

            .game-lottery-lobby-container {
                padding: 0;
                padding-right: 1%;
            }
        }
    }

    .game-listing {
        position: relative;
        float: left;
        padding: 0 0 1% 1%;

        &-item {
            padding: 0;
            display: block;
            float: none;
        }

        a {
            float: none;
            display: block;
        }

        .label-game-title {
            font-weight: 400;
            width: 98%;
            padding: 0 1%;
        }

        .lottery-tile-maintenance {
            &-title {
                position: absolute;
                text-align: center;
                width: 100%;
                color: $white;
                z-index: 1;
            }

            p {
                position: absolute;
                top: 45%;
                left: 1.5%;
                right: 1.5%;
                z-index: 1;
                color: #fff;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 600;
                width: 100%;
                line-height: initial;
            }
        }
    }

    .game-ribbon {
        position: absolute;
        top: 0.5rem;
        display: block;
        padding: 0.2rem 0.5rem;
        background: #ff0000;
        color: white;
        font-size: 1.2rem;
        border-radius: 0;
        font-weight: bold;

        &.lottery-ribbon {
            top: 1.0rem;
        }
    }
}

// Portrait
@media (orientation: portrait) {
    .mobile-lottery {
        #game-container {
            .small-image {
                width: 50%;
            }

            .large-image {
                width: 100%;
            }
        }

        .small-image {
            .lottery-tile-maintenance:after {
                position: absolute;
                z-index: 0;
                content: " ";
                background: #000;
                opacity: 0.8;
                top: 0;
                height: 98%;
                width: 98%;
            }
        }

        .large-image {
            .lottery-tile-maintenance:after {
                position: absolute;
                z-index: 0;
                content: " ";
                background: #000;
                opacity: 0.8;
                top: 0;
                height: 98%;
                width: 99%;
            }
        }
    }
}

// Landscape
@media (orientation: landscape) {
    .mobile-lottery {
        #game-container {
            .small-image {
                width: 33.13333333333333%;
            }

            .small-image.large-override {
                width: 66.86666667%;
            }

            .large-image {
                width: 66.86666667%;
            }

            .large-image.small-override {
                width: 33.13333333333333%;
            }
        }

        .small-image {
            .lottery-tile-maintenance:after {
                position: absolute;
                z-index: 0;
                content: " ";
                background: #000;
                opacity: 0.8;
                top: 0;
                height: 96.66666667%;
                width: 97%;
            }
        }

        .large-image {
            .lottery-tile-maintenance:after {
                position: absolute;
                z-index: 0;
                content: " ";
                background: #000;
                opacity: 0.8;
                top: 0;
                height: 96.66666667%;
                width: 98.5%;
            }
        }
    }
}


// Lottery Inner Page
.node-inner-page {
    .ckeditor-accordion {
        dt {
            position: relative;
            background: $white;
            padding: 1rem 3rem 1rem 1.5rem;
            font-size: 1.5rem;
            font-weight: 600;
            border-radius: 0.35rem;

            .arrow {
                display: inline-block;
                width: 1.25rem;
                height: 1.25rem;
                border: 0.3rem solid;
                border-color: transparent $black $black transparent;
                top: 1.25rem;
                right: 1rem;
                left: initial;
                transform: rotate(-45deg);
            }
        }

        .active {
            .arrow {
                display: inline-block;
                width: 1.25rem;
                height: 1.25rem;
                border: 0.3rem solid;
                border-color: transparent transparent $black $black;
                top: 0.75rem;
                right: 1rem;
                left: initial;
                transform: rotate(-45deg);
            }
        }

        dd {
            .dd_wrapper {
                padding-top: 0.5rem;
            }
        }
    }

    table {
        width: initial !important;
    }
}