.mount-announcement{
    background: $announcement-bg;
    padding: 0.3rem 1rem;

    .announcement {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding-left: 0;
        list-style-type: none;
        position: relative;
        width: 100%;
        display: block;
        text-align: left;
        color: $announcement-text;
        padding: 0.8rem 0 0;

        // List element
        &-list {
            display: flex;
            width: 100%;
            align-items: center;

            svg {
                display: inline-block;
                width: 4.2rem;
                margin: 0 1rem 0 0;
            }

            path {
                fill: $red;
            }

            p {
                width: 80%;
            }

            // Link/anchor element
            &-content {
                &-bottom {
                    position: relative;
                    display: block;
                    padding-top: 0.3rem;
                    margin-top: 0.3rem;
                    border-top: 0.1rem solid #a3a3a3;
                    text-align: right;

                    a {
                        text-transform: uppercase;
                        margin: 0 1rem 0 0;
                    }
                }
            }
        }
    }
}
