.home-contact {
    position: relative;
    display: block;
    width: 100%;
    height: 10rem;
    background: $dark-red;
}

// tablet-desktop
@include media(">=tablet") {
    .home-contact {
        height: 13rem;
    }
}

