.home-contact {
    position: relative;
    display: block;
    width: 100%;
    background: $dark-red;

    &-main {
        height: 10rem;
    }
}

// tablet-desktop
@include media(">=tablet") {
    .home-contact {
        &-main {
            height: 13rem;
        }
    }
}
