.menu-display {
    .icon-thumbnail {
        margin: 0;
        padding-left: 0;
        list-style-type: none;

        &-item {
            display: inline;
            fill: $light-gray;

            &:hover svg {
                fill: $yellow;
            }

            // Link/Anchor element
            a {
                position: relative;
                float: left;
                border: 0.1rem solid $gray;
                line-height: 1em;
                color: $white;
                text-align: center;
                transition: border-color .3s, color .3s;
            }

            &.active a,
            a:hover,
            a.active {
                border: 0.1rem solid $yellow;
                color: $yellow;
            }

            // Icons text
            .icon-thumbnail-label {
                display: block;
                width: 96%;
                margin: 1rem auto 0;
            }

            //Balloon Counter and New tag
            .icon-balloon-counter,
            .icon-thumbnail-new-tag {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                padding: 0.3rem 0.5rem;
                background: #ff0000;
                color: $white;
                font-size: 1rem;
            }
        }
    }

    // Product Menu Icons
    &-product {
        margin: 0;

        .icon-thumbnail-item {
            a {
                width: 31.333333333333333%;
                margin: 0 0 1.5% 1.5%;
                font-size: 1.2rem;
                text-transform: uppercase;
                padding-bottom: 0.5rem;
            }

            // Icons
            svg {
                display: block;
                margin: 1.5rem auto 0;
                width: 2.9rem;
                fill: $light-gray;
            }

            .product-games {
                svg {
                    margin-top: 0.5rem;
                    width: 5rem;
                }
            }

            .active {
                svg {
                    fill: $yellow;
                }
            }
        }

        .icon-thumbnail-item.product-games {
            .icon-thumbnail-label {
                margin-top: 0;
            }
        }
    }

    // Internal menu Icons
    &-internal {
        .icon-thumbnail-item {
            a {
                width: 23%;
                margin: 0 0 1.5% 1.5%;
                font-size: 0.8rem;
                padding-bottom: 0.2rem;
            }

            // Icons
            svg {
                display: block;
                margin: 1.5rem auto 0;
                width: 3rem;
                fill: $light-gray;
            }

            // Label
            .icon-thumbnail-label {
                padding-bottom: 0.5rem;
            }

            .quicklinks-download {
                svg {
                    width: 3.5rem;
                    margin-left: 2.7rem;
                }

                .icon-thumbnail-label {
                    margin-top: 0.7rem;
                }
            }

            .quicklinks-notification {
                svg {
                    width: 3.7rem;
                }

                .icon-thumbnail-label {
                    margin-top: 1.1rem;
                }
            }

            .quicklinks-language {
                svg {
                    margin-left: 2.5rem;
                }
            }

            .quicklinks-notification {
                svg {
                    margin-left: 2rem;
                }
            }

            .quicklinks-logout {
                svg {
                    margin-left: 2.8rem;
                }
            }

            .quicklinks-home,
            .quicklinks-announcement,
            .announcement-trigger {
                svg {
                    margin-left: 2.3rem;
                }
            }

            .quicklinks-promotions {
                svg {
                    width: 3.5rem;
                    margin-top: 1.2rem;
                    margin-left: 2.4rem;
                }
            }

            .quicklinks-payments {
                svg {
                    margin-left: 2rem;
                }
            }

            .quicklinks-livechat {
                svg {
                    width: 3.5rem;
                    margin-left: 2.5rem;
                }

                .icon-thumbnail-label {
                    margin-top: 0.7rem;
                }
            }

            .quicklinks-change-password {
                svg {
                    width: 1.9rem;
                    margin-top: 1.2rem;
                }

                .icon-thumbnail-label {
                    margin-top: 0.7rem;
                }
            }

            .quicklinks-contact,
            .quicklinks-faq,
            .quicklinks-settings {
                svg {
                    margin-left: 2.6rem;
                }
            }

            .active {
                svg {
                    fill: $yellow;
                }
            }
        }
    }
}
