.home-display {
    .icon-thumbnail {
        display: block;
        margin: 0;
        width: 100%;
        height: auto;
        padding: 0;
        list-style: none;

        // List element
        &-item {
            width: 33.33333333333333%;
            float: left;
            display: inline-block;

            svg {
                width: 6.2rem;
                height: 7.6rem;
            }

            path {
                fill: $yellow;
            }

            &:nth-child(1) a,
            &:nth-child(4) a,
            &:nth-child(7) a,
            &:nth-child(10) a,
            &:nth-child(13) a,
            &:nth-child(16) a,
            &:nth-child(19) a {
                border-left: none;
                border-right: 0.1rem solid $darker-red;
            }
            &:nth-child(2) a,
            &:nth-child(5) a,
            &:nth-child(8) a,
            &:nth-child(10) a,
            &:nth-child(11) a,
            &:nth-child(13) a,
            &:nth-child(14) a,
            &:nth-child(17) a {
                border-right: 0.1rem solid $darker-red;
            }
            &:nth-child(3) a,
            &:nth-child(6) a,
            &:nth-child(9) a,
            &:nth-child(12) a,
            &:nth-child(15) a,
            &:nth-child(18) a {
                border-right: none;
            }
            &:last-child a {
                border-right: 0.1rem solid $darker-red;
            }
        }

        .product-games {
            svg {
                width: 8.2rem;
            }

        }

        // Link/anchor element
        &-link {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 1rem;
            border-bottom: 0.1rem solid $darker-red;
            border-top: 0.1rem solid $fire-red;
        }

        // Lable/text
        &-label {
            display: block;
            color: $white;
        }

        // New tag
        &-new-tag {
            position: absolute;
            top: 0.5rem;
            right: 0.6rem;
            display: block;
            padding: 0.3rem 0.5rem;
            background: #ff0000;
            color: white;
        }
    }
}