.menu-display {
    .icon-thumbnail {
        margin: 0;
        padding-left: 0;
        list-style-type: none;

        &-item {
            display: inline;
            fill: $light-gray;

            &:hover svg {
                fill: $yellow;
            }

            // Link/Anchor element
            a {
                position: relative;
                float: left;
                border: 0.1rem solid $gray;
                line-height: 1em;
                color: $white;
                text-align: center;
                transition: border-color .3s, color .3s;
            }

            &.active a,
            a:hover {
                border: 0.1rem solid $yellow;
                color: $yellow;
            }

            // Icons text
            .icon-thumbnail-label {
                display: block;
                width: 96%;
                margin: 1rem auto 0;
            }

            //Balloon Counter and New tag
            .icon-balloon-counter,
            .icon-thumbnail-new-tag {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                padding: 0.3rem 0.5rem;
                background: #ff0000;
                color: $white;
                font-size: 1rem;
            }
        }
    }

    // Product Menu Icons
    &-product {
        margin: 0;

        .icon-thumbnail-item {
            a {
                width: 29.333333333333333%;
                margin: 0 0 3% 3%;
                font-size: 1.2rem;
                text-transform: uppercase;
                padding-bottom: 0.5rem;
            }

            // Icons
            svg {
                display: block;
                margin: 1.5rem auto 0;
                width: 2.9rem;
                fill: $light-gray;
            }

            .product-games {
                svg {
                    margin-top: 0.5rem;
                    width: 5rem;
                }
            }
        }

        .icon-thumbnail-item.product-games {
            .icon-thumbnail-label {
                margin-top: 0;
            }
        }
    }

    // Internal menu Icons
    &-internal {
        .icon-thumbnail-item {
            a {
                width: 21%;
                margin: 0 0 3% 3%;
                font-size: 0.8rem;
                padding-bottom: 0.2rem;
            }

            // Icons
            svg {
                display: block;
                margin: 1.5rem auto 0;
                width: 2.1rem;
                fill: $light-gray;
            }
        }
    }
}
