.infobar {
    background: $dark-gray;
    line-height: 3.5rem;
    height: 3.5rem;
    position: relative;

    &-news {
        float: left;
        height: 98%;
        width: 9rem;
        position: absolute;
        z-index: 11;
        background: $dark-gray;
        padding: 0 0 0 2%;

        p {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: 600;
            color: $yellow;
            text-transform: uppercase;
            margin: 0;
        }
    }

    &-marquee {
        margin: 0 auto;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;

        &-content {
            width: 135%;
            display: flex;
            animation: marquee 20s linear infinite forwards;
            z-index: 10;
            cursor: pointer;
    
            ul {
                @extend .clearfix;
                list-style-type: none;
                margin: 0 auto;
                padding: 0;
                display: flex;
                // width: auto;

                // white-space: nowrap;
                // overflow-x: auto;
                // -webkit-overflow-scrolling: touch;
                // -ms-overflow-style: -ms-autohiding-scrollbar;
                // -ms-overflow-style: none;
                // scrollbar-width: none;
    
                li {
                    float: left;
                    margin: 0 1rem;
                }
            }

            ul::-webkit-scrollbar {
                display: none;
            }
        }

        &-content:hover,
        &-content:active {
            animation-play-state: paused
        }
    }

    // Icons
    svg {
        display: inline-block;
        vertical-align: text-bottom;
        width: 2rem;
        fill: $yellow;
        @include rotate(345);
    }
}

@include media(">=tablet") {
    .infobar {
        &-news {
            width: 12rem;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(25%);
    }

    100% {
        transform: translateX(-125%);
    }
}
