// Inner Page default styles
.node-inner-page,
.node-basic-page,
.blank-page {
    background: $dark-gray;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

.unsupported-currency-image {
    margin: 10% 0;
    width: 100%;
    height: 14rem;
    background: url($unsupported-currency) no-repeat top center;
    background-size: auto 100%;
}

// Basic Page : About etc
.node-basic-page {
    padding: 1.5rem 0 0.5rem 0;
}

// SODA CASINO
.mobile-soda-casino {
    .unsupported-currency-image {
        height: 16rem;
        background: url($unsupported-currency-gold) no-repeat top center;
    }

    .btn-soda {
        border: 0.1rem solid $soda-yellow;
        background-color: transparent;
        text-align: center;
        font-weight: normal;
        font-size: 2.4rem;
        letter-spacing: 0;
        color: $soda-yellow;
        opacity: 1;
    }

    .btn-soda-yellow {
        border: 0.1rem solid $soda-yellow;
        background-color: transparent;
        text-align: center;
        font-weight: normal;
        font-size: 2.4rem;
        letter-spacing: 0;
        color: $soda-yellow;
        opacity: 1;
    }

    .btn-soda-red {
        border: 0.1rem solid $soda-red;
        background-color: transparent;
        text-align: center;
        font-weight: normal;
        font-size: 2.4rem;
        letter-spacing: 0;
        color: $soda-red;
        opacity: 1;
    }
}

// Page Unavailable
.blank-page {
    h1 {
        padding-top: 30%;
        text-align: center;
        color: $orange;
        font-weight: normal;
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    img {
        width: 100%;
        background-size: auto 100%;
        padding-top: 15%;
    }

    a {
        color: $orange;
        text-decoration: underline;
    }

    &-content,
    &-footer {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        text-align: center;
    }

    &-footer {
        padding-top: 10%;
    }

    &-footer-list {
        padding: 0 20%;
        columns: 2;
        -webkit-columns: 2;
        list-style: none;
        line-height: 2.5rem;
        text-align: center;
    }
}

@media screen and (min-aspect-ratio: 13 / 9) and (orientation: landscape) {
    .blank-page {
        h1 {
            padding-top: 5%;
        }

        &-footer {
            padding-top: 3%;
        }

        img {
            padding-top: 5%;
        }

        &-footer-list {
            columns: 3;
            -webkit-columns: 3;
        }
    }
}

@include media(">=tablet", "portrait") {
    .blank-page {
        h1 {
            padding-top: 15%;
        }

        &-footer {
            padding-top: 20%;
        }

        img {
            padding-top: 15%;
        }

        &-footer-list {
            columns: 3;
            -webkit-columns: 3;
        }
    }
}

@include media(">=tablet", "landscape") {
    .blank-page {
        h1 {
            padding-top: 4%;
        }

        &-footer {
            padding-top: 2%;
        }

        img {
            padding-top: 3%;
        }

        &-footer-list {
            columns: 3;
            -webkit-columns: 3;
        }
    }
}
