.language-lightbox {
    .modal-overlay {
        background: $dark-gray;
    }

    .modal-content {
        @include translate(0, 0%);
        top: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        background: #2B2829;
        padding: 0;
        border: 0;
        border-radius: 0;
        margin-bottom: 0.8rem;
    }

    .modal-body {
        margin: 1.6rem 0;

        h3 {
            color: $light-gray;
        }
    }

    // Heading text
    h3 {
        margin: 0rem 1rem 1rem;
        padding-bottom: 1.3rem;
        border-bottom: 0.1rem solid $gray;
        color: $white;
        font-size: 1.6rem;
        font-weight: 600;
    }

    // Dropdown
    ul {
        margin: 0;
        padding: 0;
        text-align: left;
        z-index: 20;
        list-style-type: none;
    }

    li {
        padding: 0;

        a {
            position: relative;
            display: block;
            background: #333031;
            margin: 0.7rem 0.4rem;
            padding: 0.2rem 0.4rem;
            border: 0.1rem solid #5f5e5e;
            border-radius: 0.4rem;
            color: $light-gray;
            cursor: pointer;
            font-size: 1.3rem;
            display: grid;
            align-items: center;
            grid-template-columns: 2.5rem 70%;
        }
        
        // active/hover state
        &.active a,
        a:hover {
            border: 0.1rem solid $yellow;
            color: $yellow;
        }

        // active icon indicator
        .icon-active-lang {
            position: absolute;
            top: 1rem;
            right: 6rem;
            width: 2.3rem;
            height: 2.3rem;
        }

        // Arrow icon 
        &.active a:after {
            @include image-replacement($sprite-mobile, 0.7rem, -8rem, 3rem, 2.5rem, 2.5rem);
            position: absolute;
            top: 0.5rem;
            right: 0.2rem;
            content: "";
        }
    }

    // Flag icons
    a:before {
        @include image-replacement($sprite-language, 0, 0.3rem, 2.2rem, 2rem);
        margin-right: 0.2rem;
        margin-bottom: 0.3rem;
        content: "";
    }

    .eu a:before,
    a.eu:before {
        background-position: 0 -1.8rem;
    }

    .zh-hans a:before,
    a.zh-hans:before {
        background-position: 0 -3.8rem;
    }

    .zh-hant a:before,
    a.zh-hant:before {
        background-position: 0 -5.8rem;
    }

    .th a:before,
    a.th:before {
        background-position: 0 -7.8rem;
    }

    .vi a:before,
    a.vi:before {
        background-position: 0 -9.8rem;
    }

    .id a:before,
    a.id:before {
        background-position: 0 -11.8rem;
    }

    .ja a:before,
    a.ja:before {
        background-position: 0 -13.8rem;
    }

    .ko a:before,
    a.ko:before {
        background-position: 0 -15.8rem;
    }

    .hi a:before,
    a.hi:before {
        background-position: 0 -17.8rem;
    }

    .el a:before,
    a.el:before {
        background-position: 0 -19.8rem;
    }

    .pl a:before,
    a.pl:before {
        background-position: 0 -21.8rem;
    }

    .es  a:before,
    a.es :before {
        background-position: 0 -23.8rem;
    }

    .pt-br  a:before,
    a.pt-br :before {
        background-position: 0 -25.8rem;
    }
}
