.login {
    // Content
    &-content {
        padding: 4rem 5rem;
        border-radius: 0.5rem;
        background: $red;

        img {
            margin-bottom: 1.5rem;

            a {
                width: 100%;
                height: 100%;

                img {
                    position: static;
                    vertical-align: middle;
                }
            }
        }
    }

    .modal-close-button {
        width: 1.9rem;
        height: 1.9rem;
        right: 1rem;
        border: 0;
        background: #900000;

        path {
            fill: #af0000;
        }
        rect {
            fill: #900000;
        }
    }

    // Link/anchor
    a:not(.btn) {
        color: $white;

        &:hover {
            color: $yellow;
        }
    }

    // Input fields
    &-field {
        position: relative;

        input {
            padding: 1rem 1rem 1rem 3.8rem;
            border: none;
            border-radius: 0.1rem;
            background: $white;
        }

        .invalid::placeholder {
            color: $red;
        }

        .invalid {
            background: #faffbd;
        }

        .invalid ~ .login-field-icon,
        .invalid ~ span .password-icon-mask,
        .invalid ~ span .password-icon-unmask {
            fill: $red;
        }

        &-icon {
            position: absolute;
            top: 0.8rem;
            left: 1rem;
            width: 2rem;
            fill: $disabled-text-gray;
        }
    }

    // Error message
    .login-error {
        margin-top: 0.5rem;
    }

    .login-submit {
        font-size: 2.4rem !important;
    }


    // Overlay
    &:before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: block;
        content: "";
        background: rgba(0, 0, 0, 0.75);
    }
}

.header-mobile-soda-casino {
    // Content
    .login-content {
        padding: 4rem 5rem;
        border-radius: 0.8rem;
        background: #001F51 0% 0% no-repeat padding-box;
    }

    .login {
        // Input fields
        &-field {
            position: relative;

            input {
                padding: 0.5rem 1rem 0.5rem 3.8rem;
                border: 0;
                outline: 0;
                background: transparent;
                border-bottom: 0.3rem solid #FFFFFF;
                font: normal 1.7rem/2.4rem Roboto;
                color: #FFFFFF;
            }

            .invalid::placeholder {
                color: $white;
            }

            .invalid {
                background: $soda-blue;
            }

            .invalid ~ .login-field-icon,
            .invalid ~ span .password-icon-mask,
            .invalid ~ span .password-icon-unmask {
                fill: $white;
            }

            &-icon {
                position: absolute;
                top: 0.8rem;
                left: 1rem;
                width: 2rem;
                fill: $white;
            }

            @-webkit-keyframes autofill {
                to {
                    color: $white;
                    background: transparent;
                }
            }

            input:-webkit-autofill {
                -webkit-animation-name: autofill;
                -webkit-animation-fill-mode: both;
            }
        }
    }

    .login-submit {
        text-align: center;
        font: Bold 2rem/2.7rem Roboto;
        letter-spacing: 0;
        color: #FFC371;
        opacity: 1;
    }

    .btn-join {
        text-align: center;
        font: Bold 2rem/2.7rem Roboto;
        letter-spacing: 0;
        color: #FF5F6D;
        opacity: 1;
        background-color: transparent;
    }

    .login-remember-username, 
    .login-help-link,
    .mb-10 {
        font-weight: normal;
    }
    
    .modal-close-button {
        width: 1.5rem;
        height: 1.5rem;
        path {
            fill: #fff;
        }
        rect {
            fill: #900000;
        }
    }
}