.login {
    // Content
    &-content {
        padding: 4rem 5rem;
        border-radius: 0.5rem;
        background: $red;

        img {
            margin-bottom: 1.5rem;

            a {
                width: 100%;
                height: 100%;

                img {
                    position: static;
                    vertical-align: middle;
                }
            }
        }
    }

    .mobile-close-button {
        width: 1.9rem;
        height: 1.9rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        outline: none;
        border: 0;
        cursor: pointer;
        background: #900000;

        path {
            fill: #af0000;
        }
        rect {
            fill: #900000;
            width: 100%;
            height: 100%;
            rx: 10.81;
            ry: 10.81;
        }
    }

    // Link/anchor
    a:not(.btn) {
        color: $white;

        &:hover {
            color: $yellow;
        }
    }

    // Input fields
    &-field {
        position: relative;

        input {
            padding: 1rem 1rem 1rem 3.8rem;
            border: none;
            border-radius: 0.1rem;
            background: $white;
        }

        .invalid::placeholder {
            color: $red;
        }

        .invalid {
            background: #faffbd;
        }

        .invalid ~ .login-field-icon,
        .invalid ~ span .password-icon-mask,
        .invalid ~ span .password-icon-unmask {
            fill: $red;
        }

        &-icon {
            position: absolute;
            top: 0.8rem;
            left: 1rem;
            width: 2rem;
            fill: $disabled-text-gray;
        }
    }

    // Error message
    .login-error {
        margin-top: 0.5rem;
    }

    // Logo
    &-logo {

    }

    // Overlay
    &:before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: block;
        content: "";
        background: rgba(0, 0, 0, 0.75);
    }
}