.login {
    // Content
    &-content {
        padding: 4rem 5rem;
        border-radius: 0.5rem;
        background: $red;

        img {
            margin-bottom: 1.5rem;

            a {
                width: 100%;
                height: 100%;

                img {
                    position: static;
                    vertical-align: middle;
                }
            }
        }
    }

    .modal-close-button {
        width: 1.9rem;
        height: 1.9rem;
        right: 1rem;
        border: 0;
        background: #900000;

        path {
            fill: #af0000;
        }
        rect {
            fill: #900000;
        }
    }

    // Link/anchor
    a:not(.btn) {
        color: $white;

        &:hover {
            color: $yellow;
        }
    }

    // Input fields
    &-field {
        position: relative;

        input {
            padding: 1rem 1rem 1rem 3.8rem;
            border: none;
            border-radius: 0.1rem;
            background: $white;
        }

        .invalid::placeholder {
            color: $red;
        }

        .invalid {
            background: #faffbd;
        }

        .invalid ~ .login-field-icon,
        .invalid ~ span .password-icon-mask,
        .invalid ~ span .password-icon-unmask {
            fill: $red;
        }

        &-icon {
            position: absolute;
            top: 0.8rem;
            left: 1rem;
            width: 2rem;
            fill: $disabled-text-gray;
        }
    }

    // Error message
    .login-error {
        margin-top: 0.5rem;
    }

    .login-submit {
        font-size: 2.4rem !important;
    }


    // Overlay
    &:before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: block;
        content: "";
        background: rgba(0, 0, 0, 0.75);
    }
}

.header-mobile-soda-casino {
    // Content
    .login-content {
        padding: 4rem 5rem;
        border-radius: 0.8rem;
        background: #001F51 0% 0% no-repeat padding-box;
    }

    .login.login-field-username {
        border:none;
        border-bottom:1px solid black;
    }

    .login-submit {
        text-align: center;
        font: Bold 3rem/3.7rem Roboto;
        letter-spacing: 0;
        color: #FFC371;
        opacity: 1;
    }

    .btn-join {
        text-align: center;
        font: Bold 3rem/3.7rem Roboto;
        letter-spacing: 0;
        color: #FF5F6D;
        opacity: 1;
        background-color: transparent;
    }

    .login-remember-username, 
    .login-help-link,
    .mb-10 {
        font-family: Roboto;
        font-weight: normal;
    }
}