.logo {
    position: absolute;
    @include translateX(-50%);
    top: 1rem;
    left: 50%;
    margin: 0;

    a,
    span {
        position: relative;
        width: 13rem;
        height: 3.1rem;
        display: inline-block;
        margin-right: 1.5rem;

        .sc &,
        .ch & {
            width: 14.8rem;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

/*SODA CASINO*/
.mobile-soda-casino {
    .header-mobile-soda-casino {
        .logo {
            img {
                top: -0.5rem;
                width: 65%;
                left: 2.5rem;
            }
        }
    }
}

// Tablet
@include media(">=tablet") {
    /*SODA CASINO*/
    .mobile-soda-casino {
        .header-mobile-soda-casino {
            .logo {
                img {
                    width: 70%;
                }
            }
        }
    }
}
