.logo {
    position: relative;
    width: 60%;
    height: 3.6rem;
    text-align: center;
    display: block;
    margin: 1.4rem auto 0;

    a,
    span {
        position: relative;
        width: 13rem;
        height: 3.1rem;
        display: inline-block;
        margin-right: 1.5rem;

        .sc &,
        .ch & {
            width: 14.8rem;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &.pl,
    &.vn {
        a,
        span {
            margin-right: 5rem;
        }
    }
}

// Tablet
@include media(">=tablet") {
    .logo {
        margin-top: 1.3rem;

        a,
        span {
            width: 14.6rem;
            margin-right: 0;

            .sc &,
            .ch & {
                width: 16.6rem;
            }
        }
    }
}
/*SODA CASINO*/
.header-mobile-soda-casino {
    .logo img {
        top: -5px;
        width: 75%;
    }
}
