#header-logo {
    width: 75%;
    display: inline-block;
    margin-left: 5%;
    height: 100%;
}

.logo {
    position: relative;
    height: 3.6rem;
    text-align: center;
    margin: 1rem 0 0 5rem;

    a,
    span {
        position: relative;
        width: 13rem;
        height: 3.1rem;
        display: inline-block;
        margin-right: 1.5rem;

        .sc &,
        .ch & {
            width: 14.8rem;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

// Tablet
@include media(">=tablet") {
    .logo {
        margin-top: 1.3rem;

        a,
        span {
            width: 14.6rem;
            margin-right: 0;

            .sc &,
            .ch & {
                width: 16.6rem;
            }
        }
    }
}
/*SODA CASINO*/
.mobile-soda-casino {
    .mobile-menu-header {
        .logo {
            background: $red;
        }
    }

    .header-mobile-soda-casino {
        .logo img {
            top: -1rem;
            width: 70%;
            left: 2.5rem;
        }

        .logo {
            img {
                top: -1rem;
                width: 75%;
            }
        }
    }
}
