// Marketing Space Styles

.marketing-space {
    position: relative;

    picture{
        display: block;
    }

    &-close-btn {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background-color: transparent;
        font-size: 2.4rem;
        color: $white;
        border: none;
        cursor: pointer;
        outline: none;
    }
}
