// Mobile/Tablet buttons
.mobile-action-button {
    position: absolute;
    top: 50%;
    right: $container-gutter-xs;
    text-transform: uppercase;
    line-height: normal;
    @include translateY(-50%);

    .btn-mobile-login {
        max-width: 8rem;
        padding: 0.5rem;
        white-space: inherit;

        span:first-child {
            line-height: 1.5rem;
            font-size: 1.3rem;
        }

        // Language specific (mobile only)
        @include media("<tablet") {
            .sc &,
            .ch & {
                max-width: 5.5rem;
            }

            .th & {
                max-width: 8rem;
            }

            .vn &,
            .pl & {
                max-width: 9.5rem;
            }

            .id & {
                max-width: 7rem;
                margin-top: 0.6rem;
            }

            .jp &,
            .gr & {
                max-width: 7.5rem;
            }

            .kr & {
                max-width: 6.5rem
            }
        }

    }

    .btn {
            max-width: 9.5rem;
            padding: 0.2rem 0.3rem;
            border-radius: 0.3rem;
            font-size: 1.3rem;

            @include media(">tablet") {
                max-width: 15.5rem;
            }
    }
}

// SODA CASINO
.header-mobile-soda-casino {
    .login-trigger.btn-yellow {
        border: 1px solid #FFC371;
        background-color: transparent;
        text-align: center;
        font: Medium 2.4rem/2.8rem Roboto;
        letter-spacing: 0;
        color: #FFC371;
        opacity: 1;
        width: 16.2rem;
        height: 3rem;
    }

    .login-trigger.btn {
        max-width: 10.5rem;
        border: 0.1rem solid #FFC371;
        border-radius: 2.4rem;
        opacity: 1;
        font-size: 1.5rem;
        padding: 0.3rem 0.4rem;

        @include media(">tablet") {
            max-width: 16.5rem;
        }
    }

    .login-submit.btn ,
    .btn-join.btn {
        background-color: transparent;
        border-radius: 4.3rem;
        opacity: 1;
        font-size: 2.4rem;
    }

    .login-submit.btn {
        border: 0.2rem solid #FFC371;
    }

    .btn-join.btn {
        border: 0.2rem solid #FF5F6D;
    }

    .login .modal-close-button {
        background: transparent;
        fill: #e4e4e4;
    }
    
}