@import "./icon-thumbnail-menu";

.mobile-menu-icon {
    width: 5.5rem;
    position: absolute;
    height: 5rem;
    top: 0;
    left: 0;
    outline: none;
    border: 0;
    cursor: pointer;
    z-index: 301;
}

.mobile-menu-burger-icon {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 1.7rem;
    margin-left: 1.5rem;
    outline: none;
    border: 0;
    cursor: pointer;
    z-index: 0;
    fill: $white;

    use {
        cursor: pointer;
        z-index: 1;
    }
}

.mobile-menu-indicator {
    position: absolute;
    top: 1.5rem;
    left: 2.8rem;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 1.7rem;
    background: $yellow;
}

.mobile-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
}

.menu-open {
    overflow-y: auto;

    body {
        height: 100%;
        overflow-y: hidden;
    }

    .mobile-menu-overlay {
        visibility: inherit;
        z-index: 1001;
        transition: 0.9s ease-out;
        background: rgba(0, 0, 0, 0.5);
    }

    .mobile-menu {
        @include translateX(0);
    }
}

.mobile-menu {
    @include translateX(-30.5rem);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    width: 30.5rem;
    height: 100%;
    overflow-y: auto;
    transition: transform .3s;
    background: $dark-gray;

    &,
    &-header,
    &-internal-header {
        color: #ccc;
    }

    // Internal menu heading
    &-internal-header {
        margin: 0 3% 5%;
        border-bottom: 0.1rem solid $gray;
        color: #ccc;
        text-align: center;
        height: 0.8rem;
        
        span {
            position: relative;
            top: -0.4rem;
            display: inline-block;
            height: 2rem;
            line-height: 2rem;
            padding: 0 1rem;
            background: $dark-gray;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }

    // Header
    .mobile-menu-header {
        position: relative;
        margin: 0;
        padding: 1rem;
        background: $red;
        height: 5rem;

        &-username {
            font-size: 1.6rem;
            font-weight: 600;
            margin: 0;
        }

        &-amount {
            margin: -2.2rem 0 0 4.3rem;
            font-size: 1.2rem;

            span {
                font-weight: 600;
            }

            > .cashier-account-balance-formatted {
                font-size: 12px;
            }
    
            > .cashier-total-balance-label {
                font-size: 12px;
                font-weight: 400
            }
        }

        // Icon
        .user-icon {
            width: 3.4rem;
            vertical-align: top;
            margin: -0.9rem 0.5rem 0 -0.2rem;
        }

        .logo {
            margin: 0;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .logo-img {;
            left: -50%;
        }
    }

    // close button
    .menu-content-button {
        width: 3.5rem;
        position: absolute;
        height: 5rem;
        top: 0;
        right: 0;
        outline: none;
        border: 0;
        cursor: pointer;

        &-text {
                width: 2rem;
                margin: 1.5rem 0 0 0.8rem;
                outline: none;
                border: 0;
                cursor: pointer;
                background: $red;

                path {
                    fill: $white;
                }
            }
    }

    // Body
    .mobile-menu-body {
        position: relative;
        padding-top: 3%;
        display: table;
        height: 91%;
        width: 100%;
    }

    // Menu button
    .mobile-menu-button {
        margin: 0;
        padding-left: 0;
        list-style-type: none;
        text-align: center;

        li {
            display: inline;
        }

        a {
            width: 46.7%;
            margin: 0 1% 2.5% 1%;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            border: 0.1rem solid $dark-gray;
            text-transform: none;
            font-size: 1.2rem;
            font-weight: 600;
            border-radius: 0.3rem;
            color: $red;
        }
    }

    // Footer
    .mobile-menu-footer {
        margin: 0 0 0.5rem;
        width: 100%;
        padding: 0;
        text-align: center;
        list-style-type: none;
        display: table-footer-group;

        li {
            display: inline;
        }

        a {
            height: 1.1rem;
            line-height: 1.1rem;
            padding: 0 0.1rem 0 0.4rem;
            border-left: 0.1rem solid $gray;
            color: #ccc;
            font-size: 1rem;
            transition: color .3s;

            &:hover {
                color: $yellow;
            }
        }

        .active {
            color: $yellow;
        }

        li:first-child a {
            border-left: none;
        }
    }
}

@include media(">=tablet") {
    .mobile-menu {
        .mobile-menu-body {
            height: 94%;
        }
    }
}
