.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1020;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: visibility 0s linear 0.1s, opacity 0.3s ease;

    &-active {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
    }

    // Overlay
    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1021;
        background-color: #333; // Fallback for IE8
        background-color: $modal-overlay-bg;
    }

    // Close Button
    &-close-button {
        @include appearance(none);
        @include image-replacement(
            $background-url: $base-default-image,
            $x: center,
            $y: center,
            $width: 2.5rem,
            $height: 2.5rem,
            $line-height: 1
        );
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;
        outline: none;
        border: 0;
        background-color: transparent;

        &.lazy-loaded {
            @extend %lazy-loaded;
            background-position: -24rem -24rem;
        }
    }

    // Modal content
    &-content {
        @include translate(0,-50%);
        position: relative;
        top: 50%;
        z-index: 1022;
        width: $modal-width;
        max-width: 90%;
        min-width: 2.8rem;
        max-height: 90%;
        margin: 0 auto;
        padding: $modal-padding;
        border-radius: $modal-radius;
        overflow: auto;
        background-color: $modal-bg;
        text-align: center;
    }

    // Modal Header
    &-header {
        margin: -$modal-padding;
        margin-bottom: $modal-padding;
        padding: 1rem 2rem;
        border-radius: $modal-radius $modal-radius 0 0;
        background: $modal-header-bg;
        color: $modal-header-color;
        font-size: 1.6rem;
    }

    .btn {
        min-width: 10rem;
    }
}
