// Notification (Error/Sucess message)
.password-message-success,
.password-message-error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 4rem 1.5rem 1.5rem;
    background: $light-gray;

    .close-button {
        @include translateY(-50%);
        position: absolute;
        right: 1.5rem;
        top: 50%;
        display: block;
        width: 2.5rem;
        height: 2.5rem;

        svg {
            fill: $red;
        }
    }
}

.password-message-success {
    color: #1f5c00;

    .close-button {
        svg {
            fill: #1f5c00;
        }
    }
}

.password-message-error {
    color: $red;
}
