// Page not Found default styles
.page-maintenance {
    min-height: 70vh;
    height: 100%;
    text-align: center;
    background: $dark-gray;

    &-content {
        padding: 15% 0 5% 0;

        h1, h2, h3 {
            color: $yellow;
        }

        img {
            width: 100%;
            background-size: auto 100%;
        }

        a {
            color: $yellow;
            text-decoration: underline;
            cursor: pointer;
        }

        ul {
            padding: 10% 0 0 0;
            columns: 2;
            -webkit-columns: 2;
            line-height: 2.5rem;
            list-style: none
        }
    }
}

// mobile casino soda content background
.mobile-soda-casino.page-maintenance,
.mobile-ptplus.page-maintenance {
    background: $soda-dark-blue;
    color: #fec270;

    h3 {
        color: #fec270;
    }

    .mobile-soda-casino-btn,
    .mobile-ptplus-btn {
        border-radius: 4rem;
        background: transparent;
        text-decoration: none;
        margin-left: 2%;
        width: 46%;
    }

    .mobile-soda-casino-btn.left,
    .mobile-ptplus-btn.left {
        border: 1px solid #ea5868;
        color: #ea5868;
        text-decoration: none;
        margin-left: 2%;
        width: 46%;
    }

    .mobile-soda-casino-btn.right,
    .mobile-ptplus-btn.right {
        border: 1px solid #fec270;
        color: #fec270;
    }
}

@include media("<tablet", "landscape") {
    .page-maintenance {
        &-content {
            padding-top: 5%;
        }
    }
}
