// Page not Found default styles
.page-not-found {
    text-align: center;

    &-content {
        img {
            width: 100%;
            background-size: auto 100%;
            padding-top: 15%;
        }

        a {
            color: $orange;
            text-decoration: underline;
        }
    }
}

// mobile casino soda content background
.mobile-soda-casino.page-not-found {
    background: $soda-dark-blue;
    min-height: 71vh;
    height: 100%;
}

@include media("<tablet", "landscape") {
    .page-not-found {
        &-content {
            img {
                padding-top: 5%;
            }
        }
    }
}
