// Page not Found default styles
.page-not-found {
    text-align: center;

    &-content {
        margin: 16em auto 16em auto;

        h1 {
            font-size: 15rem;
            font-weight: 100;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            color: $orange;
            display: block;
        }

        img {
            width: 100%;
            background-size: auto 100%;
            padding-top: 15%;
        }

        a {
            color: $orange;
            text-decoration: underline;
        }
    }
}
