.password-mask-icon {
    position: absolute;
    top: 0.65rem;
    right: 1.5rem;
    width: 3rem;
    cursor: pointer;

    path {
        fill: $disabled-text-gray;
    }

    // Mask
    .password-icon-mask {
        display: block;
    }

    .password-icon-unmask {
        display: none;
        margin-top: 0.4rem;
    }

    &.unmask {
        .password-icon-mask {
            display: none;
        }

        .password-icon-unmask {
            display: block;
        }
    }
}
