// Password Strenght 'Meter'

.password_meter_wrapper {
    margin-top: -0.5rem;
    padding: 0.1rem 0 1rem;

    .password-meter-message {
        font-size: 1.2rem;

        span {
            margin-left: 0.6rem;
        }
    }

    .password-meter-bar-bg {
        height: 0.8rem;
        border: 0.1rem solid;
    }

    .password-meter-bar {
        height: 100%;
    }
}

.password-meter-weak {
    .password-meter-message {
        span {
            color: $weak-color;
        }
    }

    .password-meter-bar-bg {
        border-color: $weak-color;
    }

    .password-meter-bar {
        width: 33.3333333%;
        background-color: $weak-color;
    }
}

.password-meter-average {
    .password-meter-message {
        span {
            color: $average-color;
        }
    }

    .password-meter-bar-bg {
        border-color: $average-color;
    }

    .password-meter-bar {
        width: 66.6666666%;
        background-color: $average-color;
    }
}

.password-meter-strong {
    .password-meter-message {
        span {
            color: $strong-color;
        }
    }

    .password-meter-bar-bg {
        border-color: $strong-color;
    }

    .password-meter-bar {
        width: 100%;
        background-color: $strong-color;
    }
}
