.password-checklist-box {
    border: 0.5px solid #323031;
    border-radius: 5px;
    padding: 10px;
    opacity: 1;
}

.password-checklist-box h3 {
    left: 30px;
    text-align: left;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}

.password-checklist-box ul {
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
    color: #C2C2C2;
    opacity: 1;
    margin: 0;
    @include media(">=desktop") {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

.checklist-item-gray {
    color: #C2C2C2;
}

.checklist-item-green {
    color: #41A145;
}

.checklist-item-red {
    color: #FF0200;
}
