.promotions-loader {
    .mobile-promotions-loader {
        margin-top: -0.1rem;
        padding: 4rem 0;
        width: 100vw;
        height: 120vw;
        background: $red;
        z-index: 1;

        .sk-fading-circle {
            margin-top: 15rem;
            width: 6rem;
            height: 6rem;
        }
    }
}
.promotions-body {
    background: $dark-red;

    &-banner {
        position: relative;

        &-overlay {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            color: $white;
            font-size: 1.2rem;
            padding: 0.3rem 0;
            background: rgba(0, 0, 0, 0.9);

            &-clock {
                width: 1.5rem;
                vertical-align: middle;
                margin-right: 0.2rem;

                path {
                    fill: $white;
                }
            }
        }

        &-tag {
            position: absolute;
            top: 0;
            left: 1rem;
            padding: 0.5rem 1rem;
            color: $white;
            outline: none;
            border: 0.1rem;
            border-radius: 0.1rem;
        }

    }

    &-product {
        svg {
            position: absolute;
            top: 0;
            left: 1rem;
            width: 3.5rem;
            height: 3.5rem;
            padding: 0.3rem;
            outline: none;
            border: 0.1rem;
            border-radius: 0.1rem;
            background: $yellow;

            path {
                fill: $red;
            }

            rect {
                fill: #000;
                width: 100%;
                height: 100%;
                rx: 10.81;
                ry: 10.81;
            }
        }
    }

    .promotions-content {
        position: relative;

        h2 {
            margin: 0.5rem 0;
            font-size: 1.6rem;
            font-weight: 600;
            color: $yellow;
        }

        p {
            margin: 0;
            display: initial;
            color: $white;
        }

        &-blurb {
            margin: 0 2rem 1rem 0;
        }

        &-info {
            color: $yellow;
        }

        svg {
            width: 2rem;
            @include rotate(-180);

            path {
                fill: $white;
            }
        }

        &-links {
            position: absolute;
            @include translate(0, 50%);
            bottom: 50%;
            right: 0.5rem;
        }
    }
}

.dropdown-menu {
    position: relative;
    order: 3;
    border-left: 0.1rem solid $red;

    .arcade,
    .casino,
    .dafasports,
    .exchange,
    .games,
    .keno,
    .lottery,
    .poker,
    .virtuals { 
        width: 10rem; 
    }

    .live-dealer,
    .casino-gold,
    .owsports,
    .fish-hunter {
        width: 12rem; 
    }

    a {
        color: $white;
        display: block;
        padding: 0.6rem 1rem;
        width: 10rem;

        svg {
                width: 0.8rem;
                margin-left: 0.5rem;
                vertical-align: sub;
                @include rotate(-90);

                path {
                    fill: $white;
                }
            }
    }

    .dropdown-trigger.active {
        background: #2b2829;
    }

    ul {
        position: absolute;
        top: 98%;
        right: 0;
        margin: 0;
        width: 100vw;
        padding-left: 0;
        list-style-type: none;
        background: #2b2829;
        z-index: 1;

        @include media(">=tablet") {
            width: 99vw;
        }

        li {
            text-align: left;

            a {
                position: relative;
                display: block;
                background: #333031;
                margin: 1rem 1.2rem;
                padding: 0.6rem 1rem;
                border: .1rem solid #5f5e5e;
                border-radius: .7rem;
                color: #d3d3d3;
                cursor: pointer;
                font-size: 1.4rem;
                width: 95%;
            }

            // active/hover state
            &.active a,
            a:hover {
                border: 0.1rem solid $yellow;
                color: $yellow;
            }

            // Arrow icon 
            &.active a:after {
                @include image-replacement($sprite-mobile, 0, -7.7rem, 3rem, 2.5rem, 2.5rem);
                position: absolute;
                top: 0.5rem;
                right: 0;
                content: "";
            }
        }
        .title {
            text-align: center;
            color: #d3d3d3;
            padding-top: 1rem;
        }
    }
}

.promotions-title {
    text-indent: 8rem;
    text-transform: none;
}

.page-promotion-inner {
    background: #e6e7e8;
    color: $gray;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.page-promotion-sticky {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &-full,
    &-half {
        width: 100%;
        border-radius: 0;
    }

    a,
    a:hover {
        border-color: transparent;
    }
}