.pushnx-lightbox {
    background: rgba(0, 0, 0, 1);

    .modal-overlay {
        background: transparent;
    }

    // Content
    &-content {
        @include translate(0, 0%);
        top: 0;
        height: 100%;
        max-height: 95%;
        width: 100%;
        max-width: 100%;
        background: transparent;
        padding: 1.5rem;
        border: 0;
        border-radius: 0;
        margin-bottom: 0.8rem;

        ul {
            display: block;
            padding-left: 0;
            list-style-type: none;
        }
    }

    &-footer {
        #lightboxNotif {
            position: relative;
            width: 50%;
            margin: 0 auto;

            span {
                border-radius: 0.5rem;
                background: $light-gray;
                color: $dark-gray;
                text-decoration: none;
                padding: 0.2rem 0;
                font-size: 1.2rem;
            }
        }

        #lightboxNotif .tooltip {
            position: absolute;
            width: auto;
            display: block;
            text-align: center;
            left: 0;
            right: 0;
        }
    }

    &-dismiss-all {
        position: absolute;
        top: 1.5rem;
        left: 1.6rem;
        color: $light-gray;
    }

    &-dismiss-all:hover {
        color: $light-gray;
    }

    h2 {
        color: $light-gray;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 1rem;
    }

    .modal-overlay {
        // Overlay
        &:before {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 15;
            display: block;
            content: "";
        }
    }

    svg {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        outline: none;
        border: 0.1rem solid #8c8c8c;
        border-radius: 0.4rem;
        cursor: pointer;

        path {
            fill: #8c8c8c;
        }

        rect {
            fill: #000;
            width: 100%;
            height: 100%;
            rx: 10.81;
            ry: 10.81;
        }
    }

    &-title {
        text-transform: uppercase;
    }

    &-body {
        li {
            position: relative;
            border-radius: 0.5rem;
            background: $light-gray;
            padding: 0.6rem 1rem;
            margin-bottom: 2.6rem;

            svg {
                width: 3.5rem;
                height: 3.5rem;
                position: absolute;
                top: -0.6rem;
                left: 1.2rem;
                outline: none;
                border: 0;
                border-radius: 0.2rem;
                padding: 0.3rem;
                cursor: pointer;
                background: $yellow;
                padding: 0.5rem;
                fill: $red;
            }
        }

        .product-generic {
            svg {
                background: $red;
                fill: $yellow;
            }
        }

        p {
            color: $dark-gray;
            margin-bottom: 0;
        }
    }

    .no-notification {
        position: relative;
        border-radius: 0.5rem;
        background: $light-gray;
        padding: 0.6rem 1rem;
        margin-bottom: 2.6rem;
        color: $red;
    }

    &-message {
        p {
            color: $dark-gray;
            text-align: left;
            margin: 1rem 0 0.5rem 0;
            width: 100%;

            strong {
                text-decoration: none;
                border: 0;
                text-transform: none;
                display: inline-block;
            }
        }

        &-title {
            display: block;
            border-bottom: 0.1rem solid #939393;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            text-align: left;
            padding-bottom: 0.2rem;
            margin-left: 4.2rem;

            &-time {
                color: $gray;
                font-size: 1rem;
            }
        }

        .expired {
            color: $pushnx-action-expired-color;
            display: block;
            text-align: right;
        }

        &-product {
            path {
                fill: #000 !important;
            }
        }
    }

    &-btn-ok,
    &-btn-accept,
    &-btn-decline,
    &-btn-proceed,
    &-btn-no-thanks {
        position: absolute;
        right: 1.5rem;
        bottom: -1.5rem;
        border-radius: .4rem;
    }

    &-btn-ok,
    &-btn-decline,
    &-btn-no-thanks {
        right: 1.5rem;
    }

    &-btn-accept, {
        right: 12.5rem;
    }

    &-btn-proceed, {
        right: 14rem;
    }
}

#pushnxDismissLightbox {
    background: rgba(0, 0, 0, .6);

    .modal-content {
        background: $white;
        border-radius: 0.4rem;
    }

    .pushnx-lightbox {
        background: $white;

        p {
            color: $black;
        }

        #dismiss-yes {
            margin-right: 0.5rem;
        }

        #dismiss-no {
            margin-left: 0.5rem;
        }
    }
}
.debug-expired {
    color:red;
    font-size: 1rem;
}

.debug-active {
    color: green;
    font-size: 1rem;
}

.message-details {
    width: 100% !important;
    background-color: transparent !important;
    padding: 0 !important;
}
