.games-search-filter {
    .modal-overlay {
        background: $dark-gray;
    }

    &-content {
        @include translate(0, 0%);
        top: 0;
        height: 100%;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        background: transparent;
        padding: 1rem;
        border: 0;
        border-radius: 0;
        margin-bottom: 0.8rem;

        svg {
            width: 2.5rem;
            height: 2.5rem;
            top: 1rem;
            fill: $white;

            rect {
                fill: #373737;
            }
        }
    }

    // Heading text
    h2 {
        margin: 0.5rem 1rem 1rem;
        color: $light-gray;
        font-size: 1.6rem;
        font-weight: 600;
    }

    &-back {
        position: absolute;
        top: 1rem;
        left: 0.5rem;
        outline: none;
        cursor: pointer;

        svg {
            fill: $white;

        }
    }

    &-body {
        margin-top: 1.5rem;
    }

    &-list {
        padding: 0;

        p {
            font-size: 1.6rem;
            background: #211f20;
            text-align: left;
            padding: 1rem;
            margin: 0;
        }

        ul {
            display: inline-block;
            float: left;

            li {
                display: block;
                margin-top: 1rem;
                padding: 0.75rem 0.5rem;
                width: 100%;
                float: left;
                text-align: left;
                border: 0.1rem solid #5f5e5e;
                border-radius: 0.5rem;
            }

            // active/hover state
            .selected {
                border: 0.1rem solid $yellow;
                color: $yellow;
            }

            // Arrow icon 
            .selected:after {
                @include image-replacement($sprite-mobile, 0, -7.3rem, 3rem, 2.5rem, 2.5rem);
                position: absolute;
                top: 1.25rem;
                right: 1.5rem;
                content: "";
            }
        }
    }
}

// Search Filter Button
.filter-form-field {
    width: 46%;
    float: left;
    display: inline-block;
    margin: 0 2%;

    &-btn {
        width: 100%;
        padding: 0.7rem;
    }
}
