.quick-nav-menu {
    border-top: .1rem solid $dark-red;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &.show-submenu {
        ul {
            margin-bottom: 5rem;
        }
    }

    ul {
        display: inline-block;
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;
        background: $red;

        li {
            display: inline-block;
            margin-left: -0.4rem;
            border-left: 0.1rem solid $dark-red;
            width: 35%;
            
            &.first {
                position: relative;
                width: 5rem;
                text-align: left;
            }

            a {
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 0.5rem 0rem;
                text-align: center;
                color: $white;
            }

            .home {
                display: initial;
                padding: 0.5rem 2.5rem;
                text-indent: -888rem;

                &.active {
                    background: none;

                    svg {
                        fill: $yellow;
                    }
                }

                svg {
                    position: absolute;
                    width: 2.5rem;
                    height: 2.5rem;
                    top: 0.2rem;
                    left: 1.25rem;
                    fill: $white;
                }
            }

            .active {
                color: $yellow;
                background: $dark-red;
            }

            ul {
                position: absolute;
                width: 100vw;
                top: 100%;
                left: 0;
                border-top: 0.1rem solid $dark-red;
                background: $dark-gray;
                text-align: left;
                list-style-type: none;
                overflow-x: auto;

                li {
                    border: 0;
                    margin: 0.75rem 0.3rem 1.75rem 0.3rem;
                    
                    a {
                        background: $gray;
                        margin: 0;
                        text-align: center;
                    }
                }

            }
        }
    }
}
// Inner Page default styles
.node-inner-page {
    background: $dark-gray;
}
