.tab {
    background: #2a2829;
    color: $light-gray;

    // Tab menu/links
    &-menu {
        display: flex;
        align-items: stretch;
        margin-bottom: 0.5rem;
        padding-left: 0;

        li {
            display: flex;
            align-items: center;
            flex-basis: 50%;
            list-style-type: none;

            &,
            a {
                background: #323031;
            }
        }

        a {
            display: block;
            width: 100%;
            padding: 0.7rem;
            color: $light-gray;
            text-align: center;
        }

        .active {
            &,
            a {
                background: #2a2829;
            }

            a {
                color: $yellow;
            }
        }
    }

    // Tab content
    &-content {
        padding-bottom: 0.1rem;
    }
}
