{{#if InfobarData.infobar}}
<ul class="infobar">
    <li class="infobar-news">
        <svg viewBox="0 0 20 20">
            <use xlink:href="#infobar-news" />
        </svg>
        <p>{{ this.newsInfobarText }}</p>
    </li>
    <li class="infobar-marquee">
        <ul class="infobar-marquee-content">
            <li class="list-inline">
            {{#each InfobarData.infobar}}
                {{{ this.field_body }}}
            {{/each}}
            </li>
        </ul>
    </li>
</ul>
{{/if}}
