{{#if InfobarData.infobar}}
<ul class="infobar">
    <li class="infobar-news">
        <svg viewBox="0 0 20 20">
            <use xlink:href="#infobar-news" />
        </svg>
        <p>News</p>
    </li>
    <li class="infobar-marquee">
        <ul class="infobar-marquee-content">
            {{#each InfobarData.infobar}}
            <li class="list-inline">
                <ul>
                    <li>{{{ this.field_body }}}</li>
                </ul>
            </li>
            {{/each}}
        </ul>
    </li>
</ul>
{{/if}}
