@import "../vendor/pure-form";

// Variables
$default-form-border-color: #ccc;
$default-form-field-color: #ccc;

// Validation icons
.icon {
    &-validation {
        @extend %lazy-loaded;
        position: absolute;
        top: 0.3rem;
        right: 0;
        display: none;
        background-image: url($base-sprite);
        width: 2.3rem;
        height: 2.3rem;
    }

    .has-error &-validation,
    .has-success &-validation {
        display: inline-block;
    }

    .has-error &-validation {
        background-position: -24rem -40rem;
    }

    .has-success &-validation {
        background-position: -28rem -40rem;
    }
}

// Overwrite pure-form default form element styles
.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 0.1rem solid $default-form-border-color;
    box-shadow: none;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 0;
}

form.pure-form {
    .form-content-wrapper {
        margin-bottom: 2rem;
        padding: 1rem 1.5rem;
        border-radius: 0.3rem;
        border: 0.1rem solid #515151;
        background: #323031;
    }

    .form-item {
        margin-bottom: 1rem;
    }

    .form-label {
        display: none;
    }

    .form-field {
        &-element {
            width: 100%;
            padding: 0.5rem 0.5rem;
            border: none;
            border-bottom: 0.1rem solid #515151;
            background: transparent;
            color: $light-gray;

            &:focus {
                border-color: $light-gray;
            }
        }
    }

    .has-error {
        .form-field-element {
            border-bottom: 0.1rem solid $red;
        }
    }

    // Error message
    .error-message {
        margin: 0.5rem 0 1rem;
        color: $fire-red;
        font-style: italic;
    }

    // Submit field
    .btn {
        width: 100%;
    }

    // Blurb top
    .blurb-top {
        margin-bottom: 2rem;
        padding: 0 2.5rem;
        text-align: center;
    }

    // Blurb bottom
    .blurb-bottom {
        margin-bottom: 2rem;
    }
}
