{{#equals product "arcade"}}
<span class="promotions-body-product">
    <svg viewBox="0 0 177.9 209.6">
        <path d="M175.9 129l-83.2 64.8c-2.3 1.5-5.2 1.5-7.4 0L2 129c-.9-.6-1.5-1.3-2-2.1v7.9c0 2.1 1 4.1 2.7 5.3l82.3 68c2.4 1.8 5.7 1.8 8.1 0l82.3-68c1.7-1.3 2.7-3.2 2.7-5.3v-7.9c-.7.8-1.3 1.6-2.2 2.1zM58.8 118l26.5 17.5c2.2 1.5 5.1 1.5 7.3 0l26.5-17.5c2.1-1.4 2-4.4-.1-5.7l-12.9-7.7v10.2c0 2.3-1.2 4.5-3.2 5.7-3.1 1.8-8 4.1-13.8 4.1-5.6 0-10.7-2.3-13.8-4.1-2-1.2-3.3-3.4-3.3-5.7v-10.3l-13.2 7.9c-2 1.2-2.1 4.2 0 5.6zm-55.5-3.8l68.3-36.8c-13.5-6.6-22.8-20.5-22.8-36.6C48.8 18.1 67.4-.3 90.2 0c22 .3 39.9 18.3 40.2 40.3.2 16.5-9.5 30.8-23.5 37.4l67.8 36.5c4.3 2.5 4.4 5.3.3 8L92.6 183c-2.2 1.5-5.1 1.5-7.3 0L3 122.2c-4.1-2.7-4-5.5.3-8zm148.3 5c0 2.6 3.4 4.6 7.7 4.6 4.2 0 7.7-2.1 7.7-4.6s-3.4-4.6-7.7-4.6c-4.3 0-7.7 2-7.7 4.6zm-8.7 5.9c-4.8 0-8.7 2.3-8.7 5.2 0 2.9 3.9 5.2 8.7 5.2 4.8 0 8.7-2.3 8.7-5.2 0-2.9-3.9-5.2-8.7-5.2zM102.8 18.5c7.6 4.6 12.6 12.8 12.6 22.2 0 6.9-2.6 13.2-6.9 17.9-.5.7-.8 1.5-.8 2.4 0 2.3 1.8 4.1 4.1 4.1 1.3 0 2.4-.6 3.2-1.6 5.4-6.1 8.6-14.1 8.6-22.9 0-12.3-6.6-23.1-16.5-29.1-.8-.5-1.7-.8-2.7-.7-1.9.2-3.4 1.7-3.6 3.6-.3 1.8.6 3.4 2 4.1zM41.9 120.7l42.5 28c2.8 1.8 6.4 1.8 9.2 0l42.5-28c3.1-2 3-6.6-.2-8.5l-29.7-17.7V78c-2.4 1.1-5 1.9-7.7 2.5V108c0 2.3-1.6 4.2-3.9 4.5-2.7.3-5-1.8-5-4.4V81.5c-6.3 0-12.2-1.4-17.5-3.9v16.7l-30 17.9c-3.2 1.9-3.3 6.4-.2 8.5z" />
    </svg>
</span>

{{/equals}}
{{#equals product "casino-gold"}}
<span class="promotions-body-product">
    <svg viewBox="0 0 165.04 209.59">
        <path d="M45.1 153.42a14 14 0 0 1-3.92-6.59l8.7-.49a11 11 0 0 0 3.12 5.22zm14.26-20.36l-6.2-3a29.2 29.2 0 0 0-8.12 5.6l7.88 1.83a23.56 23.56 0 0 1 6.44-4.43zm16.21 27.25a56.63 56.63 0 0 1-10.29-2.07l-4.66 3.6a70.88 70.88 0 0 0 13 2.63zm3.69.3l-1 4.24q2.28.12 4.68.12a84.71 84.71 0 0 0 9.36-.51l-1.94-4.16a67.46 67.46 0 0 1-7.44.41c-1.21 0-2.46-.03-3.66-.1zM40.92 144.5h4.74l3.92.39.09-.42a9.12 9.12 0 0 1 1.84-5.32l-8.26-1.41a11.58 11.58 0 0 0-2.33 6.76zm15.75-16l5.45 3.32a50.62 50.62 0 0 1 9.75-2.65l-2.91-4a63.1 63.1 0 0 0-12.29 3.36zm102.59 17.88c0 21.92-34.42 39.75-76.74 39.75s-76.74-17.8-76.74-39.72L0 171.38c0 22.46 37 38.21 82.52 38.21S165 193.84 165 171.38zM11 141.53c0-16.93 24.92-31.07 57.83-34.2l1.3 4.19 1.32 4.25c-24.51 2.49-42.95 13.1-42.95 25.76 0 14.51 24.23 26.32 54 26.32s54.05-11.81 54.05-26.32c0-12.8-18.85-23.48-43.73-25.84l1.29-4.17 1.33-4.24a130.75 130.75 0 0 1 14.6 2.12 52.23 52.23 0 0 1-5.2-7.3 26.72 26.72 0 0 1-3.43-10.73S90.92 91.59 88.56 80s10.29-13.93 10.29-13.93l7.29 12.86s2.57-2.57 6.44-5.78a33.57 33.57 0 0 1 6.65-4.51A62.46 62.46 0 0 1 130 74.86a40.83 40.83 0 0 1 5.14 4.5l-.28 38.43a60.79 60.79 0 0 1 5.82 3.45c.71-13.83 2.61-28.92 3.48-37.37 1.49-14.8 4.5-28.74-4.51-32-4.94-1.76-9.22 1.69-12.09 5.17 1.45.6.85 5.48.85 5.48s.63 5-.91 5.53c-1.13.34-6.17-2.83-8.74-4.51a2 2 0 0 1-.06.32h-2.9a3.43 3.43 0 0 1-.08-.42c-2.86 1.79-7.9 4.86-8.73 4.61-1.53-.48-.9-5.53-.9-5.53s-.1-.83-.12-1.85a11.14 11.14 0 0 1-1.49.21c-9 .64-17.15-4.93-20.81-14.38S83 32.4 83 32.4s1.07 5.14 6 4.5 4.49-8.36 6-16.51S104-.42 120.94 0s22.31 22.31 25.52 32.39 4.72 13.08 8.37 13.08 4.93-3.87 4.93-3.87 1.29 5.58-1.93 12.66-7.29 8.15-7.29 8.15-4.73 37.24-6.17 61.62c6.17 5.14 9.7 11.12 9.7 17.49 0 19.21-32.1 34.84-71.55 34.84S11 160.74 11 141.53zM125.88 22.75s3.85-8.8 1.06-13.94a23.33 23.33 0 0 1-8.36 18.44c-9.22 7.72-15.65 9.65-15.65 9.65s-.32 4.07 3.21 9a13.33 13.33 0 0 0 7.29 5.36 11 11 0 0 1-2.92 7.12c1.77 1 3.78 2.24 5.13 3.13.06-.22.11-.37.11-.37h2.9a2.72 2.72 0 0 1 .11.37c1.4-.92 3.48-2.24 5.3-3.22l.53-7.46s6-1.5 8.15-10.72-6.86-17.36-6.86-17.36zm5.57 65a7 7 0 0 1-2.2 2.53 10.1 10.1 0 0 1-1.28.81 13 13 0 0 1-4.88 1.37c-6.66.65-11.59-4.71-11.59-4.71s3.43 7.72 10.3 7.72a8.66 8.66 0 0 0 5.28-1.79c.28-.21.54-.43.79-.65a13.44 13.44 0 0 0 1.33-1.42q.28-.36.54-.72a15.32 15.32 0 0 0 1.71-3.16zm-69.21 69.44a29.89 29.89 0 0 1-7.46-4l-7.38 2.27a37.28 37.28 0 0 0 9.38 5.1zM94 159.8l2.9 4a64.1 64.1 0 0 0 12.31-3.32l-5.46-3.33A49.92 49.92 0 0 1 94 159.8zm31-15.3v-.07l-8.75.07a9.15 9.15 0 0 1-1.85 5.36l8.26 1.4a11.47 11.47 0 0 0 2.34-6.76zm-4.15 8.88l-7.85-1.85a23.48 23.48 0 0 1-6.5 4.47l6.18 3a29.67 29.67 0 0 0 8.15-5.62zm-43.57-20.07v5.15c0 1.21 2.15 2.2 4.81 2.2s4.84-1 4.84-2.2v-5.15h2.93l-4.58-9.64L89.86 109h-4.58v-2.85a6.76 6.76 0 0 0 3.44-5.81c0-3.65-2.29-6.81-6.63-6.81s-6.61 3.16-6.61 6.81a6.75 6.75 0 0 0 3.43 5.81V109h-4.57l4.57 14.71-4.57 9.64zm13-4.64a57.54 57.54 0 0 1 10.31 2.07l4.64-3.62a72.43 72.43 0 0 0-13-2.6zm22.64 8.74a11 11 0 0 1 3.11 5.21l8.7-.5a14 14 0 0 0-3.95-6.57zm-9.28-5.62a29.6 29.6 0 0 1 7.46 4l7.39-2.29a37.74 37.74 0 0 0-9.42-5.09z"/>
    </svg>
</span>
{{/equals}}
{{#equals product "casino"}}
<span class="promotions-body-product">
    <svg data-name="casino" viewBox="0 0 209.59 209.59">
        <path d="M104.79 0C47.26 0 0 47.26 0 104.79s47.26 104.8 104.79 104.8 104.8-47.26 104.8-104.8C209.59 47.26 162.33 0 104.79 0zm0 199.31a92.47 92.47 0 1 1 92.47-92.46 92.07 92.07 0 0 1-92.47 92.46zm0-164.38c-39 0-71.91 32.88-71.91 71.92s32.87 71.92 71.91 71.92 71.92-32.88 71.92-71.92c0-41.1-30.82-71.92-71.92-71.92zm51.37 39c2.06 6.17 6.17 12.33 6.17 18.49L150 96.57c-2.06-6.16-2.06-10.27-6.17-14.38zm-37-24.66c6.16 0 12.33 4.11 18.49 6.17l-8.22 12.33c-4.11-4.11-8.22-6.17-14.38-6.17zm-26.72 0L94.5 61.6a22.2 22.2 0 0 0-14.38 6.17L74 55.48c4.08-2.06 12.3-6.17 18.46-6.17zm-37 88.36c-4.11-6.16-6.17-12.33-8.22-18.49l12.33-2.06c2 4.11 4.11 10.28 6.16 14.39zm4.11-41.1l-12.29-4.07c2.05-6.16 4.11-12.32 8.22-18.46l10.27 6.17c-2.05 6.13-4.11 10.24-6.16 16.4zm32.87 67.81c-6.16-2-14.38-4.11-18.49-8.22l6.17-10.27c4.11 2.05 10.27 4.11 14.38 6.16zm26.72 0l-4.11-12.33c4.11-2.05 10.27-4.11 14.38-6.16l8.22 10.27c-6.12 4.15-12.29 6.21-18.45 8.26zm-14.39-22.6a34.64 34.64 0 0 1-34.93-34.93c0-18.49 16.44-34.93 34.93-34.93a34.63 34.63 0 0 1 34.93 34.93c2.06 18.49-14.38 34.93-34.93 34.93zm51.37-4.11l-12.33-6.16c4.11-4.11 4.11-10.28 6.17-14.39l12.33 2.06c.04 6.2-4.07 12.37-6.13 18.53zm-26.71-37c-2 0-6.16 2.06-6.16 4.11-4.11 0-10.28-2.05-14.39-2.05 0-4.11 0-10.28-2.05-14.38 4.11 0 6.16-4.11 6.16-8.22S108.9 74 104.79 74s-6.16 6.17-6.16 8.22 2.05 4.11 6.16 6.17c-2.05 4.1-4.11 10.27-4.11 14.38-4.11 0-10.27 0-14.38 2.05 0-4.11-4.11-6.16-6.16-4.11-4.11 0-6.17 4.11-6.17 6.17C74 111 78.08 113 82.19 113q3.09 0 6.17-6.16c4.1 2.05 8.21 2.05 12.32 2.05 0 4.11 0 10.28 2.06 14.39-4.11 2-6.17 6.16-4.11 10.27s4.11 6.16 8.22 4.11c4.11 0 6.16-4.11 4.11-8.22a4.43 4.43 0 0 0-4.11-4.11c2.05-4.11 2.05-10.27 2.05-14.38 4.11 0 10.28 0 14.39-2.06 0 4.11 4.11 6.17 8.22 4.11 4.11 0 6.16-4.11 4.11-8.22 0-2.04-4.11-4.1-6.17-4.1z"></path>
    </svg>
</span>

{{/equals}}
{{!-- {{#equals product "dafasports"}}
    {{> svg/product-dafasports.handlebars}}
{{/equals}}
 --}}{{!-- {{#equals product "exchange"}}
    {{> svg/product-exchange.handlebars}}
{{/equals}}
{{#equals product "fish-hunter"}}
    {{> svg/product-fish-hunter.handlebars}}
{{/equals}}
{{#equals product "games"}}
    {{> svg/product-games.handlebars}}
{{/equals}}
{{#equals product "keno"}}
    {{> svg/product-keno.handlebars}}
{{/equals}}
{{#equals product "live-dealer"}}
    {{> svg/product-live-dealer.handlebars}}
{{/equals}}
{{#equals product "lottery"}}
    {{> svg/product-lottery.handlebars}}
{{/equals}}
{{#equals product "owsports"}}
    {{> svg/product-owsports.handlebars}}
{{/equals}}
{{#equals product "poker"}}
    {{> svg/product-poker.handlebars}}
{{/equals}}
{{#equals product "virtuals"}}
    {{> svg/product-virtuals.handlebars}}
{{/equals}} --}}
