{% form_theme formChangePassword '@base/form/standard.html.twig' %}
{{ form_start(formChangePassword, {'attr': {'class': 'pure-form change-password-form'}}) }}
{{ form_end(formChangePassword) }}
<div class="confirmation-message mt-25 mb-20 hidden">
    {{ successMessage|raw}}
</div>
