{% if otherlinks %}
<ul class="mobile-menu-footer clearfix">
    {% for menu in otherlinks %}
            <li class="mobile-menu-item">
                <a
                href="{{ url(menu.uri) }}"
                class="mobile-menu-link menu-item-internal {{ menu.attributes.class }}"
                target="{{ menu.attributes.target }}"
                data-router="true"
                data-router-refresh="main"
                >
                <span>{{ menu.title }}</span>
                </a>
            </li>
        {% endfor %}
</ul>
{% endif %}
