{% if top_menu %}
    <ul class="mobile-menu-button clearfix">
    {% for menu in top_menu %}
        <li>
            <a 
                href="{{ url(menu.alias) }}"
                target="{{ menu.attributes.target }}"
                class="btn btn-small btn-{{ menu.attributes.class }}"
                data-router="true"
                data-router-refresh='["main", "language"]'
            >
                {{ menu.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
