    {# {{ secondary_menu|length }} #}
<div class="menu-display menu-display-internal">
    <ul class="icon-thumbnail clearfix">
        {% if secondary_menu %}
        {% for menu in secondary_menu %}
        <li class="icon-thumbnail-item {{ menu.attributes.class }}">
            <a href="#" class="icon-thumbnail-link">
                {% include '@app/web/images/svg/menu/'~menu.attributes.class~'.svg' ignore missing %}
                <span class="icon-thumbnail-label">{{ menu.title }}</span>
            </a>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</div>