<div class="game-loader-container">
  <div class="game-loader-container-content">
    <p>
      <img src="{{ asset('images/dafabet_logo.png') }}" alt="{{ logo_title }}">
    </p>
    <div class="game-loader-container-loader loader">
      <div class="loader" id="loader-0"></div>
      <div class="loader" id="loader-1"></div>
      <div class="loader" id="loader-2"></div>
      <div class="loader" id="loader-3"></div>
      <div class="loader" id="loader-4"></div>
      <div class="loader" id="loader-5"></div>
      <div class="loader" id="loader-6"></div>
      <div class="loader" id="loader-7"></div>
      <div class="loader" id="loader-8"></div>
      <div class="loader" id="loader-9"></div>
    </div>
    <div class="message hidden">
      An unexpected error occurred.
      <br>
      This window will close in few seconds.
      <br>
      <br>
      Please try again soon.
    </div>
  </div>
</div>
{{ include('@app/src/Module/GameIntegration/templates/ucl.html.twig') }}
