{% if back_to_top %}
<span class="back-to-top hide">
    <svg viewBox="0 30 24 44.999">
        <use xlink:href="#arrow" />
    </svg>
</span>
{% endif %}
<span class="hidden">
    {% include '@app/web/images/svg/backtotop/dafabet-backtotop.svg' ignore missing %}
</span>
