<header class="header">
    <div class="container clearfix">
        <h1 class="logo">
            <a href="#" hreflang="" rel="" title="">
                <img src="{{ asset('images/dafabet_logo.png') }}" alt="">
            </a>
        </h1>

        <div class="mobile-balance">
            <a href="#" target="_blank" class="hidden">
                <span class="mobile-balance-icon"></span>
                <span class="mobile-balance-amount">31.00</span>
            </a>
        </div>

        <span class="mobile-action-button">
            <a href="#" class="btn btn-yellow btn-small btn-mobile-login">
                <span class="visible-mobile">Login/ Join</span>
                <span class="hidden-mobile">Login</span>
            </a>
            <a href="#" class="btn btn-yellow btn-small ml-5 btn-mobile-join-now">
                Join
            </a>
        </span>
    </div>
</header>
