<div id="category-widget-container" class="sft-list clearfix hidden">
    {% include '@component/Main/Lobby/GamesLobby/templates/loader.html.twig' %}
    <a href="#" id="category-banner-link" class="category-banner-link"></a>
    <iframe id="category-widget"
            src="">
    </iframe>
</div>
