<div id="games-search-lightbox" class="modal games-search">
    <div class="modal-content games-search-content">
        <div class="modal-inner-container">
            <a href="#" class="games-search-back page-title-back-button">
                <svg viewBox="0 30 24 44.999">
                    <use xlink:href="#arrow" />
                </svg>
            </a>
            <h2>{{title}}</h2>
            <a href="#" class="games-search-filter">
            {% include '@app/web/images/svg/lobby/filter.svg' %}
            </a>
            <div class="modal-body games-search-body clearfix">
                <input type="text" id="games-search-input" class="games-search-input">
                <button type="button" class="games-search-submit">
                    <svg viewBox="0 0 86 86">
                        <path d="M54.67 11.87a30.26 30.26 0 1 0-4.14 46.24l23.33 23.33a5.36 5.36 0 1 0 7.58-7.58L58.11 50.53a30.25 30.25 0 0 0-3.44-38.66zm-6 36.79a21.76 21.76 0 1 1 0-30.78 21.76 21.76 0 0 1-.01 30.78z"/>
                    </svg>
                </button>
                <span class="search-blurb"></span>
                <div class="games-search-result">
                </div>
            </div>
        </div>
    </div>
</div>

