<div id="games-search-lightbox" class="modal games-search">
    <div class="modal-content games-search-content">
        <h2 class="search-title">{{search_config.title}}</h2>
        <div class="modal-body games-search-body">
            <input type="text" id="games-search-input" class="games-search-input">
            <span class="search-blurb"></span>
            <div class="games-search-result">
            </div>
        </div>
    </div>
</div>

