<div id="games-search-filter-lightbox" class="modal games-search-filter">
    <div class="modal-content games-search-filter-content">
        <div class="modal-inner-container">
            <a href="#" class="games-search-filter-back page-title-back-button">
                <svg viewBox="0 30 24 44.999">
                    <use xlink:href="#arrow" />
                </svg>
            </a>
            <h2>FILTER</h2>
            {% include '@app/web/images/svg/closed.svg' %}
            <div class="modal-body games-search-filter-body clearfix">
                <div class="games-search-filter-list col-12 clearfix">
                    <p>Sort by Max Wins</p>
                    <ul class="col-6">
                        <li class="selected">$100</li>
                        <li>$10,000</li>
                        <li>100,000</li>
                    </ul>
                    <ul class="col-6">
                        <li>$1,000</li>
                        <li>$50,000</li>
                    </ul>
                </div>
                <div class="games-search-filter-list col-12 clearfix">
                    <p>Paylines</p>
                    <ul class="col-6">
                        <li class="selected">8 Lines</li>
                        <li>18 Lines</li>
                        <li>100 Lines</li>
                    </ul>
                    <ul class="col-6">
                        <li>10 nes</li>
                        <li>50 Lines</li>
                    </ul>
                </div>
                <div class="games-search-filter-list col-12 clearfix">
                    <p>Themes</p>
                    <ul class="col-6">
                        <li class="selected">Adventure</li>
                        <li>Roulette</li>
                        <li>Jackpot</li>
                        <li>Gems</li>
                        <li>Nature</li>
                    </ul>
                    <ul class="col-6">
                        <li>Arcade</li>
                        <li>Cards</li>
                        <li>Fairy Tale</li>
                        <li>Movie</li>
                        <li>Pirate</li>
                    </ul>
                </div>
                <div class="filter-form-field">
                    <button type="submit" class="filter-form-field-btn btn btn-small btn-yellow  btn-lower-case">Submit</button>
                </div>
                <div class="filter-form-field">
                    <button type="button"  class="filter-form-field-btn btn btn-small btn-gray btn-lower-case">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

