<span class="pushnx-lightbox-message-product">
    <svg data-name="keno" viewBox="0 0 209.59 209.59">
        <path d="M104.79 0a104.8 104.8 0 1 0 104.8 104.79A104.8 104.8 0 0 0 104.79 0zM87.2 166.86A74.9 74.9 0 1 1 162.1 92a74.89 74.89 0 0 1-74.9 74.86zm.87-80.44l27.42 45.16H94.72l-19.26-34-6.76 8.32v25.68H51.08V52.92H68.7V87.7h.35c1.75-3 3.62-5.83 5.37-8.64l17.85-26.14h21.82z"></path>
    </svg>
</span>
