<div class="marketing-space" id="marketing-space">
    <a href="#">
        <picture>
            <source srcset="/images/temp/top_marketing_space.png" media="(min-width: 40em) and (orientation: landscape)">
            <img src="/images/temp/top_marketing_space.png" alt="xxx" class="w-100">
        </picture>
    </a>
    <button class="marketing-space-close-btn">×</button>
</div>
