{% if product_ribbon_tag %}
<div class="product-tag">
	<div
		{% if slide['field_ribbon_product_label']['0']['value'] %}
			style="background-color: {{ bg_color }}; color: {{ text_color }}"
		{% else %}
			class="tag-{{ slide['field_product']['0']['field_product_id'][0]['value']|lower }}"
		{% endif %}
	>
		{{ product_ribbon_tag }}
	</div>
</div>
{% endif %}
