<div class="download" id="downloads">
    {{ include('@component/Main/Lobby/Home/Download/templates/downloads.html.twig') }}
</div>
<div id="download-lightbox" class="modal download-lightbox">
    {{ include('@component/Main/Lobby/Home/Download/templates/download-lightbox.html.twig') }}
</div>
<span class="hidden">
    {% include '@app/web/images/svg/downloads/download-icons.svg' ignore missing %}
</span>
