<div class="download" id="downloads">
</div>
<div id="download-lightbox" class="modal download-lightbox">
</div>
<span class="hidden">
    {% include '@app/web/images/svg/downloads/download-icons.svg' ignore missing %}
</span>
