<footer class="footer mt-10">
    <div class="container">
        {{ include('@component/Footer/templates/sponsor.html.twig') }}
    </div>
{{ include('@component/Footer/templates/menu.html.twig') }}
{{ include('@component/Footer/templates/copyright.html.twig') }}
</footer>
