<footer class="footer mt-10">
    <div class="container">
        {{ include('@component/Footer/templates/sponsor.html.twig') }}
    </div>
{{ include('@component/Footer/templates/menu.html.twig') }}
{{ include('@component/Footer/templates/copyright.html.twig') }}
{{ include('@component/Footer/templates/cookie-notif.html.twig') }}
</footer>
<span class="hidden">
    {% include '@app/web/images/svg/footer/footer-icons.svg' ignore missing %}
</span>
