<footer class="footer footer-{{ app.product_resolver.getProduct }}">
    {{ include('@component/Footer/templates/sponsor.html.twig') }}
    <div class="footer-mobile-menu" id="footer-menu"></div>
    {{ include('@component/Footer/templates/copyright.html.twig') }}
</footer>
<span class="hidden">
    {% include '@app/web/images/svg/footer/footer-icons.svg' ignore missing %}
    {% include '@app/web/images/svg/quicklinks/quicklinks-icons.svg' ignore missing %}
</span>
