<footer class="footer pt-25">
    <div class="container">
        {{ include('@component/Footer/templates/download.html.twig') }}
        {{ include('@component/Footer/templates/sponsor.html.twig') }}
    </div>
{{ include('@component/Footer/templates/menu.html.twig') }}
{{ include('@component/Footer/templates/copyright.html.twig') }}
</footer>
