<footer class="footer pt-25">
    <div class="container">
        {{ include('@component/Footer/Templates/download.html.twig') }}
        {{ include('@component/Footer/Templates/sponsor.html.twig') }}
    </div>
    {{ include('@component/Footer/Templates/menu.html.twig') }}
    {{ include('@component/Footer/Templates/copyright.html.twig') }}
</footer>
