{% form_theme verifyPasswordForm '@base/form/standard.html.twig' %}
{{ form_start(verifyPasswordForm, {'attr': {'class': 'pure-form verify-password-form form-vertical'}}) }}
{{ form_end(verifyPasswordForm) }}
<div class="api-success-message mt-25 mb-20 hidden">
    <h2>Success message</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore commodi aut nesciunt quia reiciendis. Ipsam?</p>
</div>
