{% if show_announcement %}
<div class="mount-announcement hidden">
    <ul class="announcement clearfix">
        <li class="announcement-list" data="{{ announcement.nid }}">
            <div class="announcement-list-content">
            {% include '@app/web/images/svg/announcement/announcement-news.svg' %}
            <p>
                <strong class="text-red">{{ announcement.name }}</strong>
                {{ announcement.text | raw }}
            </p>
            </div>
            <div class="announcement-list-content-bottom">
            <a href="#" class="btn-dismiss">
                <strong>dismiss</strong>
            </a>
            <a href="#announcement-lightbox" class="modal-trigger btn-see-announcement">
                <strong>see all</strong>
            </a>
            </div>
        </li>
    </ul>
</div>
{% endif %}
