<div id="announcement-lightbox" class="modal announcement">
    <div class="modal-content login-content">
        <div class="modal-body">
            <ul class="announcement clearfix">
		        <li class="announcement-list" data="{{ announcement.nid }}">
		            {% include '@app/web/images/svg/announcement/announcement-news.svg' %}

		            <div class="announcement-list-content col-10">
		                {% set text = announcement.text|striptags %}

		                <strong class="text-red">{{ announcement.name }}</strong>

		                {{ text|length > 80 ? text|slice(0, 80) ~ '...' : text }}

		                <span class="announcement-list-content-bottom">
		                <a href="#" class="btn-dismiss">
		                    <strong>dismiss</strong>
		                </a>
		                <a href="#announcement-lightbox" class="modal-trigger btn-see-announcement">
		                    <strong>see all</strong>
		                </a>
		                </span>
		            </div>
		        </li>
		    </ul>
        </div>
    </div>
</div>
