<div id="announcement-lightbox" class="modal announcement">
    <div class="modal-content login-content">
        <div class="modal-body">
            {{ announcement.text|raw }}
        </div>
    </div>
</div>
