<div id="contact-us">
    {% form_theme contactUsForm '@base/form/standard.html.twig' %}
    {{ form_start(contactUsForm, {'attr': {'class': 'pure-form contact-us-form'}}) }}
    {{ form_end(contactUsForm) }}
</div>
<span class="hidden">
    {% include '@app/web/images/svg/rounded.svg' ignore missing %}
</span>
