<div class="loader" style="background: rgb(0, 0, 0);">
    <div class="loader-container">
        <div class="ray" id="ray-0"></div>
        <div class="ray" id="ray-1"></div>
        <div class="ray" id="ray-2"></div>
        <div class="ray" id="ray-3"></div>
        <div class="ray" id="ray-4"></div>
        <div class="ray" id="ray-5"></div>
        <div class="ray" id="ray-6"></div>
        <div class="ray" id="ray-7"></div>
        <div class="ray" id="ray-8"></div>
        <div class="ray" id="ray-9"></div>
    </div>
</div>
