<h1 class="page-title">
    <span class="page-title-text">About Dafabet</span>
    <a href="#" class="page-title-back-button">
        <svg viewBox="0 0 53.251 99.846">
            <path d="M53.251 91.525l-9.985 8.32L0 49.922 43.101 0l10.15 8.32-36.194 41.602 36.194 41.603z"/>
        </svg>
    </a>
</h1>

<picture class="block mb-10">
    <source media="(max-width: 767px)" srcset="{{ asset('images/banner/banner_mobile_4.jpg') }}">
    <img src="{{ asset('images/banner/banner_tablet_4.jpg') }}" alt="" class="w-100">
</picture>

<div class="container clearfix">
    <p>Dafabet is a leading Asian online gaming website, offering sports betting, online casino, online poker and online games. We have been serving China and the Asia Pacific market since 2004. We are fully licensed in the Philippines and regulated by CEZA and First Cagayan.  Dafabet operates strictly within these regulations.</p>
    <p>The safe and private environment and the integrity of our products are the fundamental drivers of the  online gaming experience. We have the most advanced security measures available and are continually auditing our games and processes to ensure a totally safe and fair internet gambling experience. We keep all of your information confidential, and we will never share it or sell it to third parties, except in accordance with our Privacy Policy.</p>
    <p>We strive to offer the best prices whilst covering a wide variety of sporting markets and other worldwide sporting events. We provide a wide variety of live games and slot games in our casino. Our online poker room is part of the world’s largest online poker network. At Dafabet we promise you will enjoy the highest class of online gaming entertainment of the world.</p>
    <p>With 24 hour live customer support available 7 days per week, our highly trained and friendly staff will ensure that any queries are dealt with and resolved quickly, politely, and efficiently.</p>
    <p>Our mission is to provide the best online gambling experience for responsible players, please feel free to contact us by phone or email with your comments or suggestions.</p>
    <p>We offer a variety of secure and easy payment methods for your convenience. We adhere to “know your customer (KYC)” and anti-money laundering (AML) policies and cooperate with the third party financial and regulatory authorities to ensure the highest standards of compliance.</p>
</div>
