
<div class="page-title">
    <h1 class="page-title-text">Promotions</h1>
    <a href="#" class="page-title-back-button">
        <svg viewBox="0 0 53.251 99.846">
            <path d="M53.251 91.525l-9.985 8.32L0 49.922 43.101 0l10.15 8.32-36.194 41.602 36.194 41.603z"/>
        </svg>
    </a>
    <div class="dropdown-menu">
        <a href="#" class="dropdown-trigger">Featured
            <svg viewBox="0 0 53.251 99.846">
                <path d="M53.251 91.525l-9.985 8.32L0 49.922 43.101 0l10.15 8.32-36.194 41.602 36.194 41.603z"/>
            </svg>
        </a>
        <ul>
            <li class="title">filter</li>
            <li>featured</li>
            <li>OW Sports</li>
            <li>Dafa Sports</li>
            <li>Casino</li>
            <li>Casino Gold</li>
            <li>Live Dealer</li>
            <li>Poker</li>
            <li>Games</li>
            <li>Virtuals</li>
        </ul>
    </div>
</div>

<div class="promotions-body">
    <div class="promotions-body-banner">
        <a href="#" class="promotions-content-link">
        <img src="{{ asset('images/banner/promotion-banner.jpg') }}" alt="" class="w-100">
            <div class="promotions-body-banner-overlay">
                <svg viewBox="0 0 53.251 99.846">
                    <path d="M53.251 91.525l-9.985 8.32L0 49.922 43.101 0l10.15 8.32-36.194 41.602 36.194 41.603z"/>
                </svg>
            4 Days, 21 Hours remaining
            </div>
        </a>
    </div>
    <div class="container promotions-content clearfix">
    <h2 class="promotions-content-title">First Deposit Bonus</h2>
        <p>Dafabet is a leading Asian online gaming website, offering sports betting, online casino, online poker and online games. We have been serving China and the Asia Pacific market since 2004. <span class="promotions-content-title-links">More Info</span></p>
        <a href="#" class="promotions-content-links">
            <svg viewBox="0 0 53.251 99.846">
            <path d="M53.251 91.525l-9.985 8.32L0 49.922 43.101 0l10.15 8.32-36.194 41.602 36.194 41.603z"/>
        </svg>
        </a>
    </div>
</div>
