<div class="page-title promotions">
    <h1 class="page-title-text promotions-title">{{ title }}</h1>
    <a href="#" onclick="history.go(-1);" class="page-title-back-button">
        {% include '@app/web/images/svg/arrow.svg' %}
    </a>
    <div class="dropdown-menu">
        <a
            href="#"
            class="dropdown-trigger promotion-link active-filter"
            data-current-filter=""
        >
            <span class="current-filter"></span>
            {% include '@app/web/images/svg/arrow.svg' %}
        </a>

        <ul id="promotion-filters">
            <li class="title">{{ filter_label }}</li>
        </ul>

    </div>
</div>

<div class="promotions-loader">
    <div class="promotions-body hidden">
        
    </div>
    <div class="promotions-body promotions-no-available hidden">
        <p>{{ no_available_promotions }}</p>
    </div>

    {% include '@component/Main/Promotions/templates/loader.html.twig' %}
</div>
