
<div class="page-title promotions">
    <h1 class="page-title-text promotions-title">Promotions</h1>
    <a href="#" class="page-title-back-button">
        {% include '@app/web/images/svg/arrow.svg' %}
    </a>
    <div class="dropdown-menu">
        <a href="#" class="dropdown-trigger">Featured
            {% include '@app/web/images/svg/arrow.svg' %}
        </a>
        <ul>
            <li class="title">Filter</li>
            {% for promotions_filter in promotions_filters %}
            <li>
                <a href"#{{ promotions_filter['product_id'][0]['value'] }}" class="product-link">
                {{ promotions_filter['name'][0]['value'] }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="promotions-body">
    <div class="promotions-body-banner">
        <a href="#" class="promotions-body-banner-link">
        <span class="promotions-body-product">
            {% include '@app/web/images/svg/products/product-casino.svg' %}
        </span>
        <img src="{{ asset('images/banner/promotion-banner.jpg') }}" alt="" class="w-100">
            <div class="promotions-body-banner-overlay">
                {% include '@app/web/images/svg/clock.svg' %}
            4 Days, 21 Hours remaining
            </div>
        </a>
    </div>
    <div class="container promotions-content clearfix">
    <h2 class="promotions-content-title">First Deposit Bonus</h2>
        <p>Dafabet is a leading Asian online gaming website, offering sports betting, online casino, online poker and online games. We have been serving China and the Asia Pacific market since 2004. <span class="promotions-content-info">More Info »</span></p>
        <a href="#" class="promotions-content-links">
        {% include '@app/web/images/svg/arrow.svg' %}
        </a>
    </div>

    <div class="promotions-body-banner">
        <a href="#" class="promotions-body-banner-link">
        <span class="promotions-body-product">
            {% include '@app/web/images/svg/products/product-casino.svg' %}
        </span>
        <img src="{{ asset('images/banner/promotion-banner.jpg') }}" alt="" class="w-100">
            <div class="promotions-body-banner-overlay">
                {% include '@app/web/images/svg/clock.svg' %}
            4 Days, 21 Hours remaining
            </div>
        </a>
    </div>
    <div class="container promotions-content clearfix">
    <h2 class="promotions-content-title">First Deposit Bonus</h2>
        <p>Dafabet is a leading Asian online gaming website, offering sports betting, online casino, online poker and online games. We have been serving China and the Asia Pacific market since 2004. <span class="promotions-content-info">More Info »</span></p>
        <a href="#" class="promotions-content-links">
        {% include '@app/web/images/svg/arrow.svg' %}
        </a>
    </div>
</div>
