{% if slide.product_ribbon_tag %}
<div class="product-tag">
	<div
		{% if slide.default_ribbon %}
			style="background-color: {{ slide.bg_color }}; color: {{ slide.text_color }}"
		{% else %}
			class="tag-{{ slide.product|lower }}"
		{% endif %}
	>
		{{ slide.product_ribbon_tag }}
	</div>
</div>
{% endif %}
