{# <div id="language-lightbox" class="modal language language-lightbox">
    <div class="modal-content language-content" id="language">
    </div>
    {% include '@app/web/images/svg/closed.svg' %}
</div> #}
{# India Language Selector #}
<div id="india-language-lightbox" class="modal india-language-lightbox">
    <div class="modal-content language-content" id="language">
    </div>
    <span class="hidden">
        {% include '@app/web/images/svg/closed.svg' ignore missing %}
    </span>
</div>
