{% form_theme formForgotPassword '@base/form/standard.html.twig' %}
{{ form_start(formForgotPassword, {'attr': {'class': 'pure-form forgot-password-form'}}) }}
{{ form_end(formForgotPassword) }}
<div class="api-success-message mt-25 mb-20 hidden">
    <div class="success-message-mobile">
        {{ password_success_message|raw }}
    </div>
    <div class="success-message-native-app">
        {{ password_success_message_native|raw }}
    </div>
</div>
