<span class="hidden sponsor-icons">
    {% include '@app/web/images/svg/sponsors/sponsors-icons.svg' ignore missing %}
</span>
<span class="hidden footer-icons">
    {% include '@app/web/images/svg/footer/footer-icons.svg' ignore missing %}
</span>
