{% set copy = {
	en: 'Copyright',
	eu: 'Copyright',
	sc: '版权',
	ch: '版權',
	th: 'ลิขสิทธิ์',
	vn: 'Bản Quyền',
	id: 'Hak cipta',
	jp: 'Copyright',
	kr: 'Copyright',
	in: 'Copyright',
	gr: 'Πνευματική Ιδιοκτησία',
	pl: 'Copyright',
	es: 'Copyright',
	pt: 'Copyright',
} %}

{% set all_rights_reserved = {
	en: 'All Rights Reserved',
	eu: 'All Rights Reserved',
	sc: '版权所有',
	ch: '版權所有',
	th: 'สงวนลิขสิทธิ์',
	vn: 'Tất Cả Các Quyền Được Bảo Hộ',
	id: 'Semua hak dilindungi',
	jp: 'All Rights Reserved',
	kr: 'All Rights Reserved',
	in: 'All Rights Reserved',
	gr: 'Όλα τα Δικαιώματα Κατοχυρωμένα',
	pl: 'Wszystkie prawa zastrzeżone',
	es: 'Todos los Derechos Reservados',
<<<<<<< HEAD
	pt: 'Todos os Direitos Reservados',
=======
	pt: 'Todos os direitos Reservados',
>>>>>>> 1032f760dbbb95d36aea6f7a3a414b31de691fde
} %}

<div class="copyright clear">
    <p class="container text-center">{{ copy[app.lang] }} &copy; {{ now | date('Y') }} | Dafabet | {{ all_rights_reserved[app.lang] }}</p>
</div>

