{% if floatingFooter %}
<div class="footer-mobile-menu floating-footer">
    <ul class="menu">
        {% for tabs in floatingFooter %}
            <li class="footer-mobile-item">
                <a href="#" target="" class="">
                    <img class="inactive" src="{{ tabs.icon_tab }}" alt="">
                    <img class="active" src="{{ tabs.active_icon_tab }}" alt="" style="display:none">
                    <span class="floating-footer-span">{{ tabs.label_tab }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
