{% if sponsors %}
<div class="sponsors clearfix">
    {% if entrypage_config.parnerts_and_sponsor_title_text %}
    <p class="sponsors-title">{{ entrypage_config.parnerts_and_sponsor_title_text }}</p>
    {% endif %}
    <ul class="sponsors-lists">
        {% for sponsor in sponsors %}
        <li class="{{ sponsor.field_sponsor_svg_class[0].value }}">
            {% if sponsor.field_sponsor_svg_class[0].value %}
            <svg viewBox="0 0 20 20">
                <use xlink:href="#sponsor-{{ sponsor.field_sponsor_svg_class[0].value }}" />
            </svg>
            <span class="hidden">{{ sponsor.field_title[0].value }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul
</div>
{% endif %}
<span class="hidden">
    {% include '@app/web/images/svg/sponsors/sponsors-icons.svg' ignore missing %}
</span>
