.footer {
    color: $white;;
    margin: 0 0 -1.8rem;

    .footer-section {
        background: $light-gray;
        margin: 0 0 -0.1rem;

        .site-keyword {
            padding: 2rem;

            h4 {
                margin: 1rem 0 !important;
            }
    
            p {
                color: $gray;
                line-height: 2.4rem;
            }
        }

        .brandambassador {
            padding: 0 2rem 2rem;

            p {
                text-align: center;
            }
        }

        .social-media {
            padding: 0 2rem 2rem;
        }

        .partners-logo {
            padding: 0 2rem 2rem;

            #curacao-container {
                display: inline-block;
                vertical-align: middle;
                width: 4.8rem;
            }
        }

        .quicklinks-mobile-revamp {
            padding: 0 2rem 2rem;
        }
    }

    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 2.4rem;
    }

    .copyright-revamp {
        background-color: $copyright-bg;
        padding: 1rem 0;
    }
}

.mobile-soda-casino {
    .footer-mobile-soda-casino {
        background: $soda-gray;
        margin-top: 0;
    }
}

.mobile-ptplus {
    .footer-mobile-item {
        a.active {
            background-color: #8c2618;

            .floating-footer-span {
                color: #ffe000;
            }
        }
    }
}

@import "../components/footer-sponsor";
@import "../../core/core/assets/responsive/sass/components/footer-mobile-sponsor";
@import "../components/pt/gambling-restriction";
@import "../components/footer-mobile-menu";
@import "../components/footer-copyright";
@import "../../core/core/assets/responsive/sass/components/footer-quicklink";
@import "../../core/core/assets/responsive/sass/components/footer-mobile-social-icon";
