.footer {
    font-size: 1.2rem;
    color: $white;

    h4 {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.4rem;
    }
}

.mobile-soda-casino {
    .footer {
	    background: $soda-gray 0% 0% no-repeat padding-box;
	    opacity: 1;
	}
}

@import "../components/app-download";
@import "../components/footer-sponsor";
@import "../components/footer-mobile-menu";
@import "../components/footer-copyright";
