.footer {
    color: $white;

    h4 {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.4rem;
    }
}

.mobile-soda-casino {
    .footer-mobile-soda-casino {
        background: $soda-gray;
        margin-top: 0;
    }
}

.mobile-ptplus {
    .footer-mobile-item {
        a.active {
            background-color: #8c2618;

            .floating-footer-span {
                color: #ffe000;
            }
        }
    }
}

@import "../components/footer-sponsor";
@import "../components/footer-mobile-menu";
@import "../components/footer-copyright";
