header {
    position: relative;
    padding: 0 2rem;
    height: 6rem;
    width: 100%;
    background-color: #af0000;
    color: $white;

    .container {
        padding-top: 0.1rem;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.login-button-wrapper {
    position: absolute;
    right: 1rem;
    top: 1.8rem;
}

@import "../components/mobile-action-button";
@import "../components/account-balance";
@import "../components/logo";
@import "../components/header-notification";
@import "../components/header-announcement";
