{% if not is_match %}
    <style>
        html {
            background: black;
            visibility: hidden;
        }
    </style>
{% endif %}

<div class="page-not-found" id="page-not-found"></div>
