{% if not is_match %}
    <style>
        html {
            background: black;
            visibility: hidden;
        }
    </style>
{% endif %}

<div class="page-not-found container">
    <div class="page-not-found-content">
        <p>
            404
        </p>
        {{ node.body.0.value|raw }} xxx
    </p>
</div>
