<div id="my-account">
    <div class="tab">
        <ul class="tab-menu">
            <li class="active"><a href="#my-profile-content">{{ myProfileTab }}</a></li>
            <li><a href="#change-password-content">{{ changePasswordTab }}</a></li>
        </ul>
        <div class="container">
            <div class="tab-content" id="my-profile-content">
                {{ widget('profile') }}
            </div>
            <div class="tab-content" id="change-password-content">
                {{ widget('change_password') }}
            </div>
        </div>
    </div>
</div>
