{% macro trace(links) %}
    {% import _self as macros %}
    <ul>
        {% for link in links %}
            {% if
                link.class matches '/^Slim.*/'
                or
                link.class matches '/^Twig.*/'
                or
                link.class matches '/^_Twig.*/'
                or
                link.class matches '/^__Twig.*/'
                or
                link.class matches '/^App\\\\Profiler\\\\Profiler.*/'
                or
                link.function matches '/^twig.*/'
                or
                link.function == "call_user_func_array" or link.function == "call_user_func"
            %}

            {% else %}
                <li>
                    <p class="mb-10">
                        <span style="font-weight: 500">{{ link.class }}{{ link.type }}{{ link.function }}</span>
                        {% if link.line %}
                            <br>
                            Line {{ link.line }}
                        {% endif %}
                    </p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}
