<div class="modal-content download-lightbox-content">
    <div class="modal-body download-lightbox-body">
        <img src="/images/img_1.jpg" alt="Mobile gambling with Dafabet">
            <div class="col-6 download-lightbox-item">
                <div class="download-lightbox-details download-box">
                <p class="download-lightbox-title">GET MORE OUT OF OW SPORTS</p>
                    <p>Download the app and enjoy world-class sports betting anytme, anywhere!
                    </p>
                </div>
                    <a href="#" class="btn btn-yellow btn-small download-lightbox-btn">
                        Download the App
                    </a>
            </div>

            <div class="col-6 download-lightbox-item">
                <div class="download-lightbox-details download-box">
                <p class="download-lightbox-title">BET ON THE LATEST SPORTS ODDS</p>
                    <p>Already installed the app? Bet now on the latest sports odds!
                    </p>
                </div>
                    <a href="#" class="btn btn-yellow btn-small download-lightbox-btn">
                        Launch the App
                    </a>
            </div>
    </div>
</div>
