{{#if this.downloadData }}
    <ul class="app-download clearfix">
        <li class="app-download-list">
            <a href="{{ this.download_url }}"
            class=""
            >
            {{!-- <svg viewBox="0 0 20 20">
                <use xlink:href="#{{ menu.attributes.svg }}" />
            </svg> --}}
            </a>
        </li>
        {{ this.title }}
    </ul>
{{/if}}
