<div class="game-container clearfix">
    <div id="game-categories" class="category-tab">
    </div>
    {{ include('@component/Main/Lobby/ArcadeLobby/templates/search-provider-transfer.html.twig') }}
    <div id="game-container" class="game-tiles clear">
        {% include '@component/Main/Lobby/ArcadeLobby/templates/loader.html.twig' %}
    </div>
</div>
{{ include('@app/src/Module/GameIntegration/templates/ucl.html.twig') }}
